@{ Layout = null; }
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title> @ViewBag.Title </title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/solid.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/fontawesome.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/v4-shims.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <style>
        #Header {
            height: 85px;
            background-color: #1D4354;
        }

        #up {
            color: #6FDA44;
            font-size: 40px;
            font-family: 'Brush Script MT', cursive;
        }

        #work {
            color: white;
            font-size: 30px;
            font-family: Georgia, serif;
        }

        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }

        #Content {
            background-color: #F1F2F4;
            height: 900px;
        }

        #Footer {
            background-color: #1D4354;
            height: 300px;
        }

        a:hover {
            text-decoration: none;
            cursor: pointer;
        }

        a {
            color: white;
        }

        #HeaderContent {
            padding-top: 10px;
        }

        img:hover {
            cursor: pointer;
        }

        #formContent {
            height: 600px;
            margin-top: 40px;
        }

        .steps {
            padding-top: 7px;
            font-weight: bold;
            font-size: 18px;
        }

        .footer-dark {
            padding: 50px 0;
            color: white;
            background-color: #1D4354;
        }

            .footer-dark h3 {
                margin-top: 0;
                margin-bottom: 12px;
                font-weight: bold;
                font-size: 16px;
            }

            .footer-dark ul {
                padding: 0;
                list-style: none;
                line-height: 1.6;
                font-size: 14px;
                margin-bottom: 0;
            }

                .footer-dark ul a {
                    color: white;
                    text-decoration: none;
                    opacity: 0.9;
                }

        hr {
            background-color: #ccc;
        }

        .footer-dark ul a:hover {
            opacity: 0.8;
            text-decoration: underline;
        }


        .footer-dark .item.social {
            text-align: center;
        }

            .footer-dark .item.social > a {
                font-size: 20px;
                width: 36px;
                height: 36px;
                line-height: 36px;
                display: inline-block;
                text-align: center;
                border-radius: 50%;
                box-shadow: 0 0 0 1px rgba(255,255,255,0.4);
                margin: 0 8px;
                color: white;
                opacity: 0.75;
            }

                .footer-dark .item.social > a:hover {
                    opacity: 0.9;
                }

        .footer-dark .copyright {
            text-align: center;
            padding-top: 24px;
            opacity: 0.9;
            font-size: 13px;
            margin-bottom: 0;
        }

        .icons {
            padding-right: 8px;
        }

        .check {
            background-color: #F1F2F4;
            color: forestgreen;
        }
    </style>
    @RenderSection("Styles", required: false)
</head>
<body>
    <div id="Header">
        <div id="HeaderContent" class="row offset-1">
            <a>
                <span id="up">Up<span id="work">work</span></span>
            </a>
            @if (ViewBag.ProfilePhoto != null)
            {
                <img src="~/ProfilePhotos/@ViewBag.ProfilePhoto" class="offset-8" />
            }
            else
            {
                <img src="~/Images/user.png" class="offset-8" />
            }
        </div>
    </div>

    <div id="Content">
        <div class="row">
            <div class="col-2 offset-1" style="margin-top:30px">
                <p class="steps GettingStarted">
                    <span class="GettingStarted fa fa-hand-point-up icons"></span>
                    Getting Started
                </p>
                @if (ViewBag.Category != null)
                {
                    <p class="steps Category ">
                        <span class="Category fa fa-list-alt glyphicon glyphicon-list-alt icons">  </span>
                        Category

                    </p>
                }
                else
                {
                    <p class="steps Category text-muted">
                        <span class="Category text-muted fa fa-list-alt glyphicon glyphicon-list-alt icons">  </span>
                        Category

                    </p>
                }
                @if (ViewBag.Expertise != null)
                {
                    <p class="steps Expertise">
                        <span class="Expertise fa fa-pencil-square-o icons"></span>
                        Expertise
                    </p>
                }
                else
                {
                    <p class="steps Expertise text-muted">
                        <span class="Expertise text-muted fa fa-pencil-square-o icons"></span>
                        Expertise
                    </p>
                }
                @if (ViewBag.ExpertiseLevel != null)
                {
                    <p class="steps ExpertiseLevel">
                        <span class="ExpertiseLevel fa fa-bar-chart-o"></span>
                        Expertise Level
                    </p>
                }
                else
                {
                    <p class="steps ExpertiseLevel text-muted">
                        <span class="ExpertiseLevel text-muted fa fa-bar-chart-o"></span>
                        Expertise Level
                    </p>
                }

                @if (ViewBag.Education != null)
                {
                    <p class="steps Education">
                        <span class="Education fa fa-graduation-cap"></span>
                        Education
                    </p>
                }
                else
                {
                    <p class="steps Education text-muted">
                        <span class="Education text-muted fa fa-graduation-cap"></span>
                        Education
                    </p>
                }
                @if (ViewBag.Employement != null)
                {
                    <p class="steps Employment ">
                        <span class="Employment fa fa-building icons"></span>
                        Employment
                    </p>
                }
                else
                {
                    <p class="steps Employment text-muted">
                        <span class="Employment text-muted fa fa-building icons"></span>
                        Employment
                    </p>
                }
                @if (ViewBag.Languages != null)
                {
                    <p class="steps Languages">
                        <span class="Languages fa fa-microphone icons"></span>
                        Languages
                    </p>
                }
                else
                {
                    <p class="steps Languages text-muted">
                        <span class="Languages text-muted fa fa-microphone icons"></span>
                        Languages
                    </p>
                }
                @if (ViewBag.HourlyRate != null)
                {
                    <p class="steps HourlyRate">
                        <span class="HourlyRate fa fa-dollar icons"></span>
                        Hourly Rate
                    </p>
                }
                else
                {
                    <p class="steps HourlyRate text-muted">
                        <span class="HourlyRate text-muted fa fa-dollar icons"></span>
                        Hourly Rate
                    </p>
                }
                @if (ViewBag.Overview != null)
                {
                    <p class="steps Overview">
                        <span class="Overview fa fa-user icons"></span>
                        Title & Overview
                    </p>
                }
                else
                {
                    <p class="steps Overview text-muted">
                        <span class="Overview text-muted fa fa-user icons"></span>
                        Title & Overview
                    </p>
                }
                @if (ViewBag.ProfilePhoto != null)
                {
                    <p class="steps ProfilePhoto">
                        <span class="ProfilePhoto fa fa-camera"></span>
                        Profile Photo
                    </p>
                }
                else
                {
                    <p class="steps ProfilePhoto text-muted">
                        <span class="ProfilePhoto text-muted fa fa-camera"></span>
                        Profile Photo
                    </p>
                }
                @if (ViewBag.Location != null)
                {
                    <p class="steps Location">
                        <span class="Location fa fa-map-marker"></span>
                        Location
                    </p>
                }
                else
                {
                    <p class="steps Location text-muted">
                        <span class="Location text-muted fa fa-map-marker"></span>
                        Location
                    </p>
                }
                @if (ViewBag.Phone != null)
                {
                    <p class="steps Phone">
                        <span class="Phone fa fa-phone-alt"></span>
                        Phone
                    </p>
                }
                else
                {
                    <p class="steps Phone text-muted">
                        <span class="Phone text-muted fa fa-phone-alt"></span>
                        Phone
                    </p>
                }
            </div>
            <div class="col-1" style="margin-top:30px">
                <p class="steps">
                    <span class="GettingStarted fa fa-check-circle check"></span>
                </p>
                @if (ViewBag.Category != null)
                {
                    <p class="steps">
                        <span class="Category fa fa-check-circle check"></span>
                    </p>
                }
                else
                {
                    <p class="steps">
                        <span class="Category text-muted fa fa-check-circle check"></span>
                    </p>
                }
                @if (ViewBag.Expertise != null)
                {
                    <p class="steps">
                        <span class="Expertise fa fa-check-circle check"></span>
                    </p>
                }
                else
                {
                    <p class="steps">
                        <span class="Expertise text-muted fa fa-check-circle check"></span>
                    </p>
                }
                @if (ViewBag.ExpertiseLevel != null)
                {
                    <p class="steps">
                        <span class="ExpertiseLevel fa fa-check-circle check"></span>
                    </p>
                }
                else
                {
                    <p class="steps">
                        <span class="ExpertiseLevel text-muted fa fa-check-circle check"></span>
                    </p>
                }
                @if (ViewBag.Education != null)
                {
                    <p class="steps">
                        <span class="Education fa fa-check-circle check"></span>
                    </p>
                }
                else
                {
                    <p class="steps">
                        <span class="Education text-muted fa fa-check-circle check"></span>
                    </p>
                }
                @if (ViewBag.Employement != null)
                {
                    <p class="steps">
                        <span class="Employment fa fa-check-circle check"></span>
                    </p>
                }
                else
                {
                    <p class="steps">
                        <span class="Employment text-muted fa fa-check-circle check"></span>
                    </p>
                }
                @if (ViewBag.Languages != null)
                {
                    <p class="steps">
                        <span class="Languages fa fa-check-circle check"></span>
                    </p>
                }
                else
                {
                    <p class="steps">
                        <span class="Languages text-muted fa fa-check-circle check"></span>
                    </p>
                }
                @if (ViewBag.HourlyRate != null)
                {
                    <p class="steps">
                        <span class="HourlyRate fa fa-check-circle check"></span>
                    </p>
                }
                else
                {
                    <p class="steps">
                        <span class="HourlyRate text-muted fa fa-check-circle check"></span>
                    </p>
                }
                @if (ViewBag.Overview != null)
                {
                    <p class="steps">
                        <span class="Overview fa fa-check-circle check"></span>
                    </p>
                }
                else
                {
                    <p class="steps">
                        <span class="Overview text-muted fa fa-check-circle check"></span>
                    </p>
                }
                @if (ViewBag.ProfilePhoto != null)
                {
                    <p class="steps">
                        <span class="ProfilePhoto fa fa-check-circle check"></span>
                    </p>
                }
                else
                {
                    <p class="steps">
                        <span class="ProfilePhoto text-muted fa fa-check-circle check"></span>
                    </p>
                }
                @if (ViewBag.Location != null)
                {
                    <p class="steps">
                        <span class="Location fa fa-check-circle check"></span>
                    </p>
                }
                else
                {
                    <p class="steps">
                        <span class="Location text-muted fa fa-check-circle check"></span>
                    </p>
                }
                @if (ViewBag.Phone != null)
                {
                    <p class="steps">
                        <span class="Phone fa fa-check-circle check"></span>
                    </p>
                }
                else
                {
                    <p class="steps">
                        <span class="Phone text-muted fa fa-check-circle check"></span>
                    </p>
                }
            </div>
            <div id="formContent" class="col-7">
                @RenderBody()
            </div>
        </div>
    </div>


    <div id="Footer">
        <div class="footer-dark">
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-3 item">
                            <ul>
                                <li><a href="#">About</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-md-3 item">
                            <ul>
                                <li><a href="#">Community</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-md-3 item">
                            <ul>
                                <li><a href="#">Help & Support</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-md-3 item">
                            <ul>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul>
                        </div>

                    </div>

                    <hr />
                    <div class="col item social"><span>Follow Us:</span><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
                    <hr />
                    <p class="copyright">© 2020-@DateTime.Now.Year Upwork Global Inc.</p>
                </div>
            </footer>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>