<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Upwork</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/FreelancerLayout.css" rel="stylesheet" />
    <link href="~/css/ClientHome.css" rel="stylesheet" />
    <link href="~/css/PostAJob.css" rel="stylesheet" />

    @await RenderSectionAsync("Style", required: false)
</head>
<body>
    <header>
        <!--navbar-->
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm  navbar-dark  bg-dark-cyan ">
            <div class="container">
                <a class="navbar-brand"><span class="text-green">Up</span>work</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <form>
                        <div class="input-group my-2 ">
                            <span class="input-group-text" id="basic-addon1" ><i class="fas fa-search"></i></span>
                            <input type="search" class="form-control input-group-field" placeholder="search">
                        </div>
                    </form>
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown p-lg-2 my-lg-2" data-cy="menu">
                            <a target="_self" asp-action="Index" asp-controller="Freelancers" role="button" aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" class="dropdown-toggle nav-link text-light">
                                <span class="nav-item-label">Find work</span>

                            </a>
                            
                            <ul data-cy="dropdown-menu" class="dropdown-menu mw-240" aria-labelledby="dropdownMenuLink">
                                <li>
                                    <a target="_self" data-cy="menu-item-trigger" asp-action="Index" asp-controller="Freelancers" class="dropdown-item">
                                        Find Work
                                    </a>
                                </li>
                                <li>
                                    <a target="_self" data-cy="menu-item-trigger" href="/ab/f/contracts/" class="dropdown-item">
                                        Saved Jobs
                                    </a>
                                </li>
                                <li>
                                    <a target="_self" data-cy="menu-item-trigger" href="/ab/workdiary/freelancer/" class="dropdown-item">
                                        Proposals
                                    </a>
                                </li>
                                <li>
                                    <a target="_self" data-cy="menu-item-trigger" asp-action="Profile" asp-controller="Freelancers" class="dropdown-item">
                                        Profile
                                    </a>
                                </li>
                                <li>
                                    <a target="_self" data-cy="menu-item-trigger" href="/ab/workdiary/freelancer/" class="dropdown-item">
                                        My Stats
                                    </a>
                                </li>
                                <li>
                                    <a target="_self" data-cy="menu-item-trigger" href="/ab/workdiary/freelancer/" class="dropdown-item">
                                        Upwork Readiness Test
                                    </a>
                                </li>
                                <li>
                                    <a target="_self" data-cy="menu-item-trigger" href="/projects" class="dropdown-item">
                                        My Project Dashboard
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown p-lg-2 my-lg-2">
                            <a target="_self" href="#" role="button" aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" class="dropdown-toggle nav-link text-light">
                                <span class="nav-item-label">My Jobs</span>

                            </a>
                            <ul data-cy="dropdown-menu" class="dropdown-menu mw-240" aria-labelledby="dropdownMenuLink">
                                <li>
                                    <a target="_self" data-cy="menu-item-trigger" href="/ab/f/home/" class="dropdown-item">
                                        My Jobs
                                    </a>
                                </li>
                                <li>
                                    <a target="_self" data-cy="menu-item-trigger" href="/ab/f/contracts/" class="dropdown-item">
                                        All Contracts
                                    </a>
                                </li>
                                <li>
                                    <a target="_self" data-cy="menu-item-trigger" href="/ab/workdiary/freelancer/" class="dropdown-item">
                                        Work Diary
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown p-lg-2 my-lg-2">
                            <a target="_self" href="/ab/reports/in-progress" aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" class="dropdown-toggle nav-link text-light">
                                <span class="nav-item-label">Reports</span>
                            </a>
                            <ul class="dropdown-menu " aria-labelledby="dropdownMenuLink">
                                <li>
                                    <a target="_self" data-cy="menu-item-trigger" href="/ab/reports/in-progress" class="dropdown-item">
                                        Overview
                                    </a>
                                </li>
                                <li>
                                    <a target="_self" data-cy="menu-item-trigger" href="/ab/reports/freelancer" class="dropdown-item">
                                        My Reports
                                    </a>
                                </li>
                                <li>
                                    <a target="_self" data-cy="menu-item-trigger" href="/ab/payments/reports/earnings" class="dropdown-item">
                                        Billings &amp; Earnings
                                    </a>
                                </li>
                                <li>
                                    <a target="_self" data-cy="menu-item-trigger" href="/nx/plans/connects/history" class="dropdown-item">
                                        Connects History
                                    </a>
                                </li>
                                <li>
                                    <a target="_self" data-cy="menu-item-trigger" href="/ab/payments/reports/earnings-history" class="dropdown-item">
                                        Transaction History
                                    </a>
                                </li>
                                <li>
                                    <a target="_self" data-cy="menu-item-trigger" href="/ab/payments/reports/certificate-of-earnings.pdf" class="dropdown-item">
                                        Certificate of Earnings
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item p-lg-2 my-lg-2">
                            <a target="_self" data-cy="menu-item-trigger" href="/messages/" class="nav-menu-item nav-link text-light">
                                <span class="nav-item-label">
                                    Messages
                                    <span style="display:inline-block;width:20px;"></span>
                                </span>
                            </a>

                        </li>
                        <li class="nav-item dropdown p-lg-2 my-lg-2">
                            <a role="button" aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" class="dropdown-toggle text-light nav-link">
                                <span data-bs-toggle="tooltip" data-bs-placement="top" title="Help">
                                    <i class="fas fa-question"></i>
                                </span>
                            </a>
                            <ul data-cy="dropdown-menu" class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                <li>
                                    <a target="_self" data-cy="menu-item-trigger" href="/ab/f/home/" class="dropdown-item">
                                        Help and support
                                    </a>
                                </li>
                                <li>
                                    <a target="_self" data-cy="menu-item-trigger" href="/ab/f/contracts/" class="dropdown-item">
                                        Community and forums
                                    </a>
                                </li>
                                <li>
                                    <a target="_self" data-cy="menu-item-trigger" href="/ab/workdiary/freelancer/" class="dropdown-item">
                                        Disputes
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item p-lg-2 my-lg-2">
                            <a href="#" target="_self" class="nav-link text-light">
                                <i class="far fa-bell"></i>
                            </a>
                        </li>
                        <li class="nav-item p-lg-2 my-lg-2">
                            <a href="#" target="_self" data-bs-toggle="tooltip" data-bs-placement="top" title="Direct Contact" class="text-light nav-link">
                                <i class="far fa-paper-plane"></i>
                            </a>
                        </li>
                        <li class="nav-item dropdown p-lg-2 my-lg-2">
                            <img src="~/Images/16938730_371690419878868_4123771690068118215_n.jpg" aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" class="dropdown-toggle img-fluid profile-img" />
                            <ul data-cy="dropdown-menu" class="dropdown-menu dropdown-menu-right profile-menue" aria-labelledby="dropdownMenuLink">
                                <li class="dropdown-item ">
                                    <div class="status">
                                        <a target="_self" data-cy="menu-item-trigger" href="/ab/f/home/" class="btn active  profile-status">
                                            inline
                                        </a>
                                        <a target="_self" data-cy="menu-item-trigger" href="/ab/f/home/" class="btn profile-status">
                                            invisable
                                        </a>
                                    </div>

                                </li>
                                <li>
                                    <a target="_self" data-cy="menu-item-trigger" href="/ab/f/contracts/" class="dropdown-item">
                                        <img src="~/Images/16938730_371690419878868_4123771690068118215_n.jpg" class="img-fluid rounded-circle" />
                                        User Name
                                    </a>
                                </li>
                                <li>
                                    <a target="_self" data-cy="menu-item-trigger" href="/ab/workdiary/freelancer/" class="dropdown-item">
                                        <i class="fas fa-cog"></i>
                                        Setting
                                    </a>
                                </li>
                                <li>
                                    <a target="_self" data-cy="menu-item-trigger" href="/ab/workdiary/freelancer/" class="dropdown-item">
                                        <i class="fas fa-sign-out-alt"></i>
                                        Logout
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
        <!--end  navbar-->
    </header>
    <!--Content-->
    <div class="center mt-0" >
        @RenderBody()
    </div>
    <!--end Content-->
    <!--Footer-->
    <footer role="contentinfo" class="up-footer text-center py-3">
        <div role="heading" aria-level="2" class="sr-only">
            Footer navigation
        </div>
        <div class="container">
            <div class="up-footer-items justify-content-between d-flex">
                <div>
                    <ul class="up-footer-list">
                        <li class="up-footer-list-item">
                            <a href="/about/" target="_self" class="up-footer-list-link">
                                About Us
                            </a>
                        </li>
                        <li class="up-footer-list-item">
                            <a href="javascript:" target="_self" data-cy="feedback-link" class="up-footer-list-link">
                                Feedback
                            </a>
                        </li>
                        <li class="up-footer-list-item">
                            <a href="http://community.upwork.com" target="_self" class="up-footer-list-link">
                                Community
                            </a>
                        </li>
                    </ul>
                </div>
                <div>
                    <ul class="up-footer-list">
                        <li class="up-footer-list-item">
                            <a href="/trust-and-safety/security/" target="_self" class="up-footer-list-link">
                                Trust, Safety &amp; Security
                            </a>
                        </li>
                        <li class="up-footer-list-item">
                            <a href="https://support.upwork.com/login" target="_self" class="up-footer-list-link">
                                Help &amp; Support
                            </a>
                        </li>
                        <li class="up-footer-list-item">
                            <a href="/ppc/foundation/" target="_self" class="up-footer-list-link">
                                Upwork Foundation
                            </a>
                        </li>
                    </ul>
                </div>
                <div>
                    <ul class="up-footer-list">
                        <li class="up-footer-list-item">
                            <a href="/legal#terms" target="_self" class="up-footer-list-link">
                                Terms of Service
                            </a>
                        </li>
                        <li class="up-footer-list-item">
                            <a href="/legal#privacy" target="_self" class="up-footer-list-link">
                                Privacy Policy
                            </a>
                        </li>
                        <li class="up-footer-list-item">
                            <a href="/legal#accessibility" target="_self" class="up-footer-list-link">
                                Accessibility
                            </a>
                        </li>
                    </ul>
                </div>
                <div>
                    <ul class="up-footer-list">
                        <li class="up-footer-list-item">
                            <a href="/downloads?source=Footer" target="_self" class="up-footer-list-link">
                                Desktop App
                            </a>
                        </li>
                        <li class="up-footer-list-item">
                            <a href="/legal#cookie-policy" target="_self" class="up-footer-list-link">
                                Cookie Policy
                            </a>
                        </li>
                        <li class="up-footer-list-item">
                            <a href="/enterprise" target="_self" class="up-footer-list-link">
                                Enterprise Solutions
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="up-footer-social justify-content-between d-flex">
                <div class="up-footer-social-icons d-flex" style="display:-webkit-box; -webkit-box-align:center; ">
                    <div role="heading" aria-level="3" class="up-footer-social-header m-auto">
                        Follow us
                    </div>
                    <ul class="up-footer-social-list d-flex m-auto">
                        <li class="up-footer-social-list-item">
                            <a href="https://www.facebook.com/upwork" title="Visit Upwork on Facebook" target="_blank" rel="noopener noreferrer" class="up-footer-social-list-link">
                                <span class="sr-only">Visit Upwork on Facebook</span>
                                <div class="up-icon">
                                    <i class="fab fa-facebook-f"></i>
                                </div>
                            </a>
                        </li>
                        <li class="up-footer-social-list-item">
                            <a href="https://www.linkedin.com/company/upwork" title="Read Upwork company news on LinkedIn" target="_blank" rel="noopener noreferrer" class="up-footer-social-list-link">
                                <span class="sr-only">Read Upwork company news on LinkedIn</span>
                                <div class="up-icon">
                                    <i class="fab fa-linkedin-in"></i>
                                </div>
                            </a>
                        </li>
                        <li class="up-footer-social-list-item">
                            <a href="https://twitter.com/Upwork" title="Follow  on Twitter" target="_blank" rel="noopener noreferrer"
                               class="up-footer-social-list-link">
                                <span class="sr-only">Follow Twitter</span>
                                <div class="up-icon">
                                    <i class="fab fa-twitter"></i>
                                </div>
                            </a>
                        </li>
                        <li class="up-footer-social-list-item">
                            <a href="https://www.youtube.com/channel/UCvxGFOnwUBDHHcxuPqhe4CQ" title="Watch Upwork videos on YouTube" target="_blank" rel="noopener noreferrer" class="up-footer-social-list-link">
                                <span class="sr-only">Watch Upwork videos on YouTube</span>
                                <div class="up-icon">
                                    <i class="fab fa-youtube"></i>
                                </div>
                            </a>
                        </li>
                        <li class="up-footer-social-list-item">
                            <a href="https://www.instagram.com/upworkinc/" title="Follow Upwork on Instagram" target="_blank" rel="noopener noreferrer" class="up-footer-social-list-link">
                                <span class="sr-only">Follow Upwork on Instagram</span>
                                <div class="up-icon">
                                    <i class="fab fa-instagram"></i>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="up-footer-social-icons up-footer-download d-flex">
                    <div role="heading" aria-level="3" class="up-footer-social-header m-auto">
                        Mobile app
                    </div>
                    <ul class="up-footer-social-list d-flex m-auto">
                        <li class="up-footer-social-list-item">
                            <a href="https://apps.apple.com/us/developer/upwork-global-inc/id329377609" title="Download Upwork app from iTunes" target="_blank" rel="noopener noreferrer" class="up-footer-social-list-link">
                                <span class="sr-only">Download Upwork app from iTunes</span> <div class="up-icon">
                                    <i class="fab fa-apple"></i>
                                </div>
                            </a>
                        </li>
                        <li class="up-footer-social-list-item">
                            <a href="https://play.google.com/store/apps/dev?id=8802639270489632480" title="Download Upwork app from Google Play" target="_blank" rel="noopener noreferrer" class="up-footer-social-list-link">
                                <span class="sr-only">Download Upwork app from Google Play</span>
                                <div class="up-icon">
                                    <i class="fab fa-android"></i>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div> <p class="up-footer-copyright">
                <span>
                    © 2015 - 2021 Upwork® Global Inc.
                </span>
            </p>
        </div>
    </footer>
    <!-- End Footer-->
    <!--Scripts-->
    <script src="https://kit.fontawesome.com/fa50145e5d.js" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
