@model Upwork.Models.Project

@{
    ViewData["Title"] = "Create project ";
}
@section Style {
    <link href="~/css/CreateProject.css" rel="stylesheet" />
}

<div class="container">
    <!--Steps nav-->
    <div class="">
        <nav class="steps">
            <ul class=" d-flex justify-content-between">
                <li>
                    <button class="step-btn">
                        <p class="step-number text-center"> 1 </p>
                        <p class="step-name">OverView</p>
                    </button>
                </li>
                <li>
                    <button class="step-btn">
                        <p class="step-number text-center"> 2 </p>
                        <p class="step-name">Pricing</p>
                    </button>
                </li>
                <li>
                    <button class="step-btn">
                        <p class="step-number text-center"> 3 </p>
                        <p class="step-name">Gallary</p>
                    </button>
                </li>
                <li>
                    <button class="step-btn">
                        <p class="step-number text-center"> 4 </p>
                        <p class="step-name">Description</p>
                    </button>
                </li>
                <li>
                    <button class="step-btn">
                        <p class="step-number text-center"> 5 </p>
                        <p class="step-name">Requiements</p>
                    </button>
                </li>
                <li>
                    <button class="step-btn">
                        <p class="step-number text-center"> 6 </p>
                        <p class="step-name">Review</p>
                    </button>
                </li>
            </ul>
        </nav>
    </div>
    <!-- end Steps nav-->

    <!--content-->
    <div class="row">
        <div class="col-lg-8 col-12">
            <div class="bg-white" id="form-content">
                <h1>Form</h1>
            </div>
        </div>
        <div class="col-lg-4 col-12">
            <div class=" bg-white" id="form-description">
                <h1>Description</h1>
            </div>
           
        </div>
    </div>
    <!-- end content-->
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
