@model Upwork.Models.ProjectLevel

@{
    ViewData["Title"] = "project catalog";
}

<!--style sheet-->
@section Style {
    <link href="~/css/CreateProject.css" rel="stylesheet" />
}
<!--end style sheet-->

<div class="container">
    <!--Steps nav-->
    <div class="">
        <nav class="steps">
            <ul class=" d-flex justify-content-between">
                <li class="step-item">
                    <div class="step-btn accepted">
                        <p class="step-number text-center"> 1 </p>
                        <p class="step-name">OverView</p>
                    </div>
                </li>
                <li class="step-item">
                    <div class="step-btn current">
                        <p class="step-number text-center"> 2 </p>
                        <p class="step-name">Pricing</p>
                    </div>
                </li>
                <li class="step-item">
                    <div class="step-btn">
                        <p class="step-number text-center"> 3 </p>
                        <p class="step-name">Gallary</p>
                    </div>
                </li>
                <li class="step-item">
                    <div class="step-btn">
                        <p class="step-number text-center"> 4 </p>
                        <p class="step-name">Description</p>
                    </div>
                </li>
                <li class="step-item">
                    <div class="step-btn">
                        <p class="step-number text-center"> 5 </p>
                        <p class="step-name">Requiements</p>
                    </div>
                </li>
                <li>
                    <div class="step-btn">
                        <p class="step-number text-center"> 6 </p>
                        <p class="step-name">Review</p>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
    <!-- end Steps nav-->
    <!--content-->
    <div class="row">
        <!--step form-->
        <div class="col-lg-8 col-12">
            <div class="bg-white" id="form-content">

                <div class="form-head">
                    <div class="container">
                        <h4> <b>Price & scope</b></h4>
                    </div>
                </div>
                <form class="py-3 container" asp-action="CreatePrice" method="post">
                    <div class="form-group">
                        @*<input type="hidden" asp-for="ProjectId"  class="form-control" value="@ViewBag.OverView.ProjectId"></input>*@
                    </div>
                    <div class="row justify-content-between">
                        <div class="col-md-6">
                            <h6><b>Create pricing tiers</b></h6>
                            <p class="desc">Customize your project with 1 or 3 pricing tiers</p>
                        </div>

                        <div class="col-md-3">
                            <label>3 tiers </label>
                            <label class="switch ml-1">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                            </label>
                        </div>


                    </div>
                    <table class="table text-center">
                        <thead>
                            <tr>
                                <th></th>
                                @foreach (var item in ViewBag.Levels)
                                {
                                    <th>@item.Name</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            <tr></tr>
                        </tbody>
                    </table>
                    <div class="form-group">
                        <label asp-for="LevelId" class="control-label"></label>
                        @*<input asp-for="LevelId" class="form-control" type="checkbox"></input>*@
                    </div>
                    <div class="form-group">
                        <label asp-for="Price" class="control-label"></label>
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DeleverDays" class="control-label"></label>
                        <input asp-for="DeleverDays" class="form-control" />
                        <span asp-validation-for="DeleverDays" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
        <!--end form-->
        <!--step description-->
        <div class="col-lg-4 col-12">
            <div id="step-description" class=" bg-white py-4">
                <div class="container">
                    <h6><b>Pricing setup </b></h6>
                    <ul class="description-list container">
                        <li>
                            <p class="desc">Detail the scope and pricing of your project so clients understand what they will receive.</p>
                        </li>
                        <li>
                            <p class="desc"> Build 1 or 3 tiers to provide different pricing options for your clients.</p>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!--end description-->
    </div>
    <!-- end content-->
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}