@model Upwork.Models.Project
@{
    ViewData["Title"] = "Create project ";
    int  i = 0;
}
@section Style {
    <link href="~/css/CreateProject.css" rel="stylesheet" />
}
<div class="container">
    <!--Steps nav-->
    <div class="">
        <nav class="steps">
            <ul class=" d-flex justify-content-between">
                <li class="step-item">
                    <button class="step-btn done ">
                        <p class="step-number text-center"> <i class="fas fa-check"></i> </p>
                        <p class="step-name">OverView</p>
                    </button>
                </li>
                <li class="step-item">
                    <button class="step-btn done">
                        <p class="step-number text-center"> <i class="fas fa-check"></i> </p>
                        <p class="step-name">Pricing</p>
                    </button>
                </li>
                <li class="step-item">
                    <button class="step-btn done">
                        <p class="step-number text-center"> <i class="fas fa-check"></i> </p>
                        <p class="step-name">Gallary</p>
                    </button>
                </li>
                <li class="step-item">
                    <button class="step-btn current">
                        <p class="step-number text-center"> <i class="fas fa-pen"></i>  </p>
                        <p class="step-name">Description</p>
                    </button>
                </li>
                <li class="step-item">
                    <button class="step-btn">
                        <p class="step-number text-center"> 5 </p>
                        <p class="step-name">Requiements</p>
                    </button>
                </li>
                <li>
                    <button class="step-btn">
                        <p class="step-number text-center"> 6 </p>
                        <p class="step-name">Review</p>
                    </button>
                </li>
            </ul>
        </nav>
    </div>
    <!-- end Steps nav-->
    <!--content-->
    <div class="row">
        <!--step form-->
        <div class="col-lg-8 col-12">
            <div class="bg-white" id="form-content">
                <div class="form-head">
                    <div class="container">
                        <h4> <b>Project description </b></h4>
                    </div>
                </div>
                <form class="py-3" asp-action="Description" method="post">
                    <div class="py-3 container">
                        <h4><b>Project summary</b></h4>
                        <p>Briefly explain what sets you and your project apart.</p>
                        <textarea rows="4" asp-for="Description" class="form-control" required placeholder="EXAMPLE: You will get a polished logo design that will bring your company to the next level. With over 5 years of experience in freelance and agency environments, I care deeply about helping startups tell their story through design. The work I deliver is 100% original and high quality">
                        </textarea>
                        <div class="form-head"></div>
                        <h4><b>Project steps</b></h4>
                        <p>List the steps involved in delivering your project.</p>
                        <ul class=" container justify-content-between">
                            <li class="step-item row">
                                <div class="step-btn current d-flex">
                                    <p class="step-number text-center"> 1 </p>
                                    <span> Client purchases the project and sends requirements.</span>
                                </div>
                            </li>
                            <li class="step-item ">
                                <div class="row">
                                    <div class="step-btn current d-flex col-9">
                                        <p class="step-number text-center"> 2 </p>
                                        <span class="step-name">
                                            You complete the project following the steps that you add here.
                                        </span>
                                    </div>
                                    <div class="col-3">
                                        <button type="button" class="text-green btn add-btn" onclick="displayFormStep()">Add your Step <i class="fas fa-plus"></i> </button>
                                    </div>
                                </div>
                                <ul class="Steps ml-5">
                                </ul>
                                <div class="add-form my-2" id="Add-Step">
                                    <div class="container">
                                        <input class="form-control mb-2 mt-2" required asp-for="StepName" id="step" rows="1" placeholder="Step name" />
                                        <textarea class="form-control" rows="3" required asp-for="StepDescription" id="description" placeholder="Step Description"></textarea>
                                    </div>
                                </div>
                            </li>

                            <li class="step-item row">
                                <div class="step-btn current d-flex">
                                    <p class="step-number text-center"> 3 </p>
                                    <span class="step-name">Client reviews and approves your work, and you get paid.</span>
                                </div>
                            </li>
                        </ul>
                        <div class="form-head"></div>
                        <div class="container">
                            <div class="row justify-content-between my-2">
                                <div class="col-9">
                                    <h4>Frequently asked questions</h4>
                                    <p>Answers to common questions your clients ask.</p>
                                </div>
                                <div class="col-3">
                                    <button type="button" class="text-green btn add-btn" onclick="displayFormQestion()">Add a question <i class="fas fa-plus"></i> </button>
                                </div>

                            </div>
                            <ul class="Questions ml-5">
                            </ul>
                            <div class="add-form my-2" id="Add-Question">
                                <div class="container">
                                    <input class="form-control mb-2 mt-2" required id="Question" asp-for="QuestionContent" rows="1" placeholder="Question" />
                                    <textarea class="form-control" required rows="3" id="Answer" asp-for="QuestionAnswer" placeholder="Answer"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="end pt-3 mt-3">
                        <div class="container">
                            <div class="d-flex justify-content-between">
                                <div class="col-2">
                                    <div class="devBtnLight m-0 p-2 text-center">
                                        <h6 class="m-0 p-0">@Html.ActionLink("Back", "Gallary", "Projects")</h6>
                                    </div>
                                </div>
                                <div class="col-5">
                                    <button class="btn-cancle ">@Html.ActionLink("Cancle", "Cancel", "Projects")</button>
                                    <button class="btn-save">Save &amp; Continue</button>
                                </div>

                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
        <!--end form-->
        <!--step description-->
        <div class="col-lg-4 col-12">
            <div id="step-description" class=" bg-white py-4">
                <div class="container">
                    <h6><b>Project details </b></h6>
                    <ul class="description-list container">
                        <li>
                            <p>Add more details about your offering and why clients should work with you.</p>
                        </li>
                        <li>
                            <p>Show potential clients the steps you take to complete your project.</p>
                        </li>
                        <li>
                            <p>Address common client questions to save the back and forth.</p>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!--end description-->
    </div>
    <!-- end content-->
</div>

@section Scripts {
    <script>
        $(function () {

        });
        
        function displayFormStep() {
            $("#Add-Step").toggle();
        }
     
        function displayFormQestion() {
            $("#Add-Question").toggle();
        }
            
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}