@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<Skill>
<div class="row">
    @foreach (var i in Model)
    {
        <div class="col-3">
            <input name="AreChecked" id="@i.SkillId"  type="checkbox" value="@i.SkillId" />
            @i.Name
            <br />
        </div>
    }
</div>