@model IEnumerable<Upwork.Models.Project>

@{
    ViewData["Title"] = "Project List";
}
@section Style {
    <link href="~/css/IndexProject.css" rel="stylesheet" />
}
<div class="container">
    <div id="Project-list" class="wrapper">
        <div class="container">
            <!--Head-->
            <div class="row justify-content-between">
                <h2>Projects</h2>
                <a asp-action="create" class="devBtnGreen text-center px-3 ">
                    Create Project
                </a>
            </div>
            <!--end head-->
            <!--project tabs-->
            <div class="">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Approved</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Drafts</a>
                    </li>

                </ul>
              
                <div class="tab-content" id="myTabContent">  
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        @foreach (var item in Model)
                        {
                            <div class="project">
                                <div class="container">
                                    <div class="row align-items-center">
                                        <div class="col-10">
                                            <div class="d-flex">
                                                <img src="/Images/@item.Image" class="project-img" />
                                                <p class="project-title">@item.Title</p>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class=""
                                                 style="width: 3rem; height: 3rem; margin: 0;padding:0;">
                                                <span class=" circlee-points container-circlee" data-toggle="dropdown"
                                                      aria-haspopup="true" aria-expanded="false">
                                                    <i class="fa fa-ellipsis-h 2x" style="color:rgb(83, 83, 83) ;"></i>
                                                </span>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="#">Edit</a>
                                                    <a class="dropdown-item" href="#">Remove</a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    @foreach (var item in ViewBag.DraftProject)
                    {
                        <div class="project">
                            <div class="container">
                                <div class="row align-items-center">
                                    <div class="col-10">
                                        <div class="d-flex">
                                            <img src="~/Images/@item.Image" class="project-img" />
                                            <p class="project-title">@item.Title</p>
                                        </div>

                                    </div>
                                    <div class="col-2">
                                        <div class=""
                                             style="width: 3rem; height: 3rem; margin: 0;padding:0;">
                                            <span class=" circlee-points container-circlee" data-toggle="dropdown"
                                                  aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-ellipsis-h 2x" style="color:rgb(83, 83, 83) ;"></i>
                                            </span>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">Edit</a>
                                                <a class="dropdown-item" href="#">Remove</a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                    
                </div>
                
            </div>
            <div class="wrapper">
                <!--Head-->
                <div class="row border-bottom pb-4 pt-2">
                    <div class="container">
                        <h4>How Project Catalog works</h4>
                    </div>
                </div>
                <!--end head-->
                <div class="row">
                    <div class="col-md-3 col-12 my-4 ">
                        <div class="card">
                            <img src="~/Images/projectcatalog1.PNG" class="card-img-top" />
                            <div class="card-body">
                                <h5 class="card-title text-center">1. Get an order</h5>
                                <p class="card-text text-center">You can start communicating via Upwork Messages.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-12 my-4 ">
                        <div class="card">
                            <img src="~/Images/projectcatalog2.PNG" class="card-img-top" />
                            <div class="card-body">
                                <h5 class="card-title text-center">1. Get an order</h5>
                                <p class="card-text text-center">You can start communicating via Upwork Messages.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-12 my-4 ">
                        <div class="card">
                            <img src="~/Images/projectcatalog3.PNG" class="card-img-top" />
                            <div class="card-body">
                                <h5 class="card-title text-center">1. Get an order</h5>
                                <p class="card-text text-center">You can start communicating via Upwork Messages.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-12 my-4 ">
                        <div class="card">
                            <img src="~/Images/projectcatalog4.PNG" class="card-img-top" />
                            <div class="card-body">
                                <h5 class="card-title text-center">1. Get an order</h5>
                                <p class="card-text text-center">You can start communicating via Upwork Messages.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="wrapper">
                <!--Head-->
                <div class="row border-bottom  pt-2">
                    <div class="container">
                        <h4>FAQs</h4>
                    </div>
                </div>
                <div class="row border-bottom pb-0 pt-2">
                    <div class="container" data-toggle="collapse" href="#collapseOne" style="cursor: pointer;" id="accordion1">
                        <div class="row m-0 p-0">
                            <div class="col-9 mr-1 text-left">
                                <p class="seconedHeaders mb-2">
                                    What is Project Catalog?
                                </p>
                            </div>
                            <div class="col-2 m-0 text-right">
                                <a class="card-link rotateLink1" data-toggle="collapse" style="color:black;"
                                   href="#collapseOne"><i class="fa fa-angle-down rotateAngle1"></i></a>
                            </div>
                        </div>
                    </div>
                    <div id="collapseOne" class="collapse m-0 p-0 mb-3 " data-parent="#accordion1">
                        <div class="container">
                            <div>
                                <p>We developed this offering in response to feedback from our community. Freelancers told us that they want to work on projects that closely align within their work and rate expectations, while clients have told us they want an easier way to get started with freelancers. With Project Catalog, you can set expectations about cost, timeline, and deliverables and simplify how clients locate the skills they need for their project. In general, the idea is that freelancers pre-define everything upfront and interested clients can buy it, cutting down on the back and forth that often needs to occur before a project begins.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row border-bottom pb-0 pt-2">
                    <div class="container" data-toggle="collapse" href="#collapseTwo" style="cursor: pointer;" id="accordion2">
                        <div class="row m-0 p-0">
                            <div class="col-9 mr-1 text-left">
                                <p class="seconedHeaders mb-2">Screening questions (optional)</p>
                                <p class="mb-2" style="font-size: 14px; color: #656565;">Narrow down your candidates</p>
                            </div>
                            <div class="col-2 m-0 text-right">
                                <a class="card-link rotateLink2" data-toggle="collapse" style="color:black;"
                                   href="#collapseTwo"><i class="fa fa-angle-down rotateAngle2"></i></a>
                            </div>
                        </div>
                    </div>
                    <div id="collapseTwo" class="collapse m-0 p-0 mb-3 " data-parent="#accordion2">
                        <div class="container">
                            <div>
                                <p>English level</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row border-bottom pb-0 pt-2">
                    <div class="container" data-toggle="collapse" href="#collapseThree" style="cursor: pointer;" id="accordion3">
                        <div class="row m-0 p-0">
                            <div class="col-9 mr-1 text-left">
                                <p class="seconedHeaders mb-2">Screening questions (optional)</p>
                                <p class="mb-2" style="font-size: 14px; color: #656565;">Narrow down your candidates</p>
                            </div>
                            <div class="col-2 m-0 text-right">
                                <a class="card-link rotateLink3" data-toggle="collapse" style="color:black;"
                                   href="#collapseThree"><i class="fa fa-angle-down rotateAngle3"></i></a>
                            </div>
                        </div>
                    </div>
                    <div id="collapseThree" class="collapse m-0 p-0 mb-3 " data-parent="#accordion3">
                        <div class="container">
                            <div>
                                <p>English level</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row border-bottom pb-0 pt-2">
                    <div class="container" data-toggle="collapse" href="#collapseFour" style="cursor: pointer;" id="accordion4">
                        <div class="row m-0 p-0">
                            <div class="col-9 mr-1 text-left">
                                <p class="seconedHeaders mb-2">Screening questions (optional)</p>
                                <p class="mb-2" style="font-size: 14px; color: #656565;">Narrow down your candidates</p>
                            </div>
                            <div class="col-2 m-0 text-right">
                                <a class="card-link rotateLink4" data-toggle="collapse" style="color:black;"
                                   href="#collapseFour"><i class="fa fa-angle-down rotateAngle4"></i></a>
                            </div>
                        </div>
                    </div>
                    <div id="collapseFour" class="collapse m-0 p-0 mb-3 " data-parent="#accordion4">
                        <div class="container">
                            <div>
                                <p>English level</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>

        $(".rotateLink1").click(function () {
           
            $(".rotateAngle1").toggleClass("rotate");
          
        });
        $(".rotateLink2").click(function () {
            console.log
            $(".rotateAngle2").toggleClass("rotate");
            
        });
        $(".rotateLink3").click(function () {
            console.log
            $(".rotateAngle3").toggleClass("rotate");
          
        });
        $(".rotateLink4").click(function () {
            console.log
            $(".rotateAngle4").toggleClass("rotate");
         
        });


    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

