.steps {
    color: #808080;
    padding-top:2rem;
    padding-bottom:1rem;
}

.steps .step-item{
    position:relative;
    width:15%;
}
.steps .step-item:after {
   content: "";
    border-top: 1px solid rgba(128,128,128,0.4);
    position: absolute;
    top: 25%;
    left: 27%;
    width: 105%;
}
.step-btn{
    padding:0.7rem;
    border:none;
    background-color:transparent;
   
    text-align:center;
}
.step-number{
    border:2px solid #808080;
    width:2rem;
    height:2rem;
    border-radius:50%;
}
.steps .current {
    color: #14a800;
}
.current .step-number {
    border: 2px solid #14a800;
}
#form-content {
    border: 1px solid #e0e0e0;
    border-radius: 0.3rem;
    margin-bottom:4rem;
}
#step-description {
    border-top: 4px solid #1d4354;
    margin-bottom:0.7rem;
}
.form-head{
    border-bottom:1px solid #e0e0e0;
    padding:0.8rem 0;
    margin-top:0.7rem;
    margin-bottom:0.7rem;
}
.description-list li{
    list-style-type:disc;
}
#step-description a.text-green:hover{
    color:#14a800;
}
input:hover {
    border: 2px solid #14a800;
}
.examples{
    color:#808080;
    font-size:0.8rem;
}
.btn-save {
    background: #14a800;
    border-radius: 10rem;
    border-color: transparent;
    padding: 0.2rem;
    color: #fff;
}
.btn-save button {
    color: #fff;
}
.btn-save a:hover {
    text-decoration: none;
}
.btn-cancle {
    background: #fff;
    border-radius: 10rem;
    padding: 0.5rem;
    color: #14a800;
    border-color: transparent;
}
.btn-cancle a {
    color: #14a800;
}
.btn-cancle a:hover {
    text-decoration:none;
}
.end {
    border-top: 1px solid #e0e0e0;
    margin:0.3rem;
}
.file-upload {
    background-color: #f1f2f4;
    width: 10rem ;
    height:10rem;
    padding: 10px;
}

/*.file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #1FB264;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #15824B;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 400;
}*/

.file-upload-btn:hover {
    background: #1AA059;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

/*.file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
}*/

.file-upload-content {
    display: none;
    text-align: center;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.image-upload-wrap {
    border: 1px solid #f1f2f4;
    position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
    background-color: #f1f2f4;
    border: 1px solid #f1f2f4;
}

.image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
}

.drag-text {
    text-align: center;
}

.drag-text h3 {
    font-weight: 100;
    color: #15824B;

}

.file-upload-image {
    width: 10rem;
    height: 10rem;
}

.remove-image {
    width: 10rem;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
}

.remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.remove-image:active {
    border: 0;
    transition: all .2s ease;
}
/*________________________Description*/
.up-textarea {
    width: 100%;
}

