.steps {
    color: #808080;
    padding-top:2rem;
    padding-bottom:1rem;
}

.steps .step-item{
    position:relative;
    width:15%;
}
.steps .step-item:after {
   content: "";
    border-top: 1px solid rgba(128,128,128,0.4);
    position: absolute;
    top: 25%;
    left: 27%;
    width: 105%;
}
.step-btn{
    padding:0.7rem;
    border:none;
    background-color:transparent;
}
.step-number{
    border:2px solid #808080;
    width:2rem;
    height:2rem;
    border-radius:50%;
}
.steps .current {
    color: #14a800;
}
.current .step-number {
    border: 2px solid #14a800;
}
#form-content {
    border: 1px solid #e0e0e0;
    border-radius: 0.3rem;
}
#step-description {
    border-top: 4px solid #1d4354;
    margin-bottom:0.7rem;
}
.form-head{
    border-bottom:1px solid #e0e0e0;
    padding:0.8rem 0;
    margin-top:0.7rem;
    margin-bottom:0.7rem;
}
.description-list li{
    list-style-type:disc;
}
#step-description a.text-green:hover{
    color:#14a800;
}
input:hover, input:focus, select:hover, select:focus {
    border: 1px solid #14a800;
}
.examples{
    color:#808080;
    font-size:0.8rem;
}
.desc{
    font-size:0.8rem;
}

.switch {
    position: relative;
    display: inline-block;
    width: 3.7rem;
    height: 2.1rem;
    
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 1.7rem;
        width: 1.7rem;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #14a800;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(1.7rem);
    -ms-transform: translateX(1.7rem);
    transform: translateX(1.7rem);
}

/* Rounded sliders */
.slider.round {
    border-radius: 2.1rem;
}

    .slider.round:before {
        border-radius: 50%;
    }