* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box
}

a {
    text-decoration: none;
}

.navbar {
    color: #fff;
}

.text-green {
    color: #6fda44;
}

.bg-green {
    background-color: #6fda44;
}

.bg-dark-cyan {
    background-color: #1d4354;
}

.bg-white{
    background-color:#fff;
}

.navbar a:hover, .navbar i:hover {
    color: #6fda44;
    text-decoration: none;
}

.center {
    background-color: #f1f2f4;
    margin-bottom:0.3rem;
}

.navbar button {
    border: none;
    background-color: transparent;
    color: white;
}

.dropdown-toggle::after {
     display: none;
}

.navbar .profile-img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.navbar .dropdown a.active {
    background-color: #6fda44;
    color: #fff;
}

.navbar .dropdown-item img {
    width: 2rem;
    height: 2rem;
}

.navbar .profile-menue .status {
    border: 1px solid #a0a0a0;
    border-radius: 0.4rem;
}

.navbar .profile-menue .profile-status {
    padding: 0.3rem 2rem;
}

    .navbar .profile-menue .profile-status:hover {
        background-color: #47691b;
        color: #fff;
    }

.input-group {
    border: 0;
    border-radius: 0.3rem;
}

    .input-group i {
        color: #fff;
        font-size: 0.7rem;
    }

.input-group-text {
    background-color: transparent;
    border: 0;
    color:#fff;
}

.input-group-field {
    border: 0;
    background-color: transparent;
    color:#fff;
}
.input-group-field:focus {
    outline: 0;
    box-shadow: 0 0 0 0 none;
    border:0;
    background-color: #143240;
    color:#fff;
}


@media screen and (max-width: 580px) {
    .navbar form .input-group {
        background-color: #2b5468;
        border: 1px solid transparent;
        border-radius: 0.7rem;
    }

    .dropdown-menu {
        background-color: #1d4354;
        color: #fff;
        border: 0;
    }

    .navbar li.nav-item {
        border-bottom: 1px solid #336278;
        padding: 0.7rem 0.3rem;
    }

    .dropdown-toggle::after {
        display: inline-block;
        margin-left: 80%;
    }

    .dropdown-menu a.dropdown-item {
        color: #fff;
    }

    .dropdown-menu a.dropdown-item:hover {
        color: black;
    }
}

/*******footer*********/
footer a:hover {
    color: #fff;
    border-bottom: 1px #fff solid;
}

footer p {
    margin-bottom: 0rem;
}

.up-footer-items a {
    color: #656565;
}

    .up-footer-items a:hover {
        color: #656565;
    }

footer i {
    color: #656565;
    border-radius: 50%;
    background-color: #f2f2f2;
    padding: 0.4rem;
    margin: .4rem;
}
/******* end footer*********/
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #3ce026d8;
    outline: 0;
    box-shadow: 0 0 0 0.1rem #81e774;
}
