@model ChangePasswordViewModel
<div class="modal" id="modalone">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header P-2">
                <h4 class="modal-title">Change Password</h4>
            </div>
            <div class="modal-body m-2">
                <form asp-action="ChangePassword" asp-controller="Freelancers">
                    <div class="form-group m-2 my-4">
                        <label for="OldPassword" class="h6">Old Password</label>
                        <input asp-for="OldPassword" type="password" class="form-control" id="OldPassword"
                               required />
                    </div>
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                    <div class="form-group m-2 my-4">
                        <label for="NewPassword" class="h6">New Password</label>
                        <input asp-for="NewPassword" type="password" class="form-control" id="NewPassword"
                               required />
                        <span asp-validation-for="NewPassword" class="text-danger">  </span>
                        <div class="text-right" style="font-size: 14px; color: #656565;">
                            <span>
                                <i class="fa fa-times" aria-hidden="true"
                                   style="font-weight: 350;"></i> Numbers <i class="fa fa-times" aria-hidden="true"
                                                                             style="font-weight: 350;"></i> Symbols
                            </span>
                        </div>

                    </div>
                    <div class="form-group m-2 my-4">
                        <label for="ConfirmPassword" class="h6">Confirm New Password</label>
                        <input asp-for="ConfirmPassword" type="password" class="form-control" id="ConfirmPassword"
                               required />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    
                    <div class="m-2 mt-5">
                        <label class="checkbox"
                        style="display:-webkit-box; -webkit-box-align:center; ">
                    <input asp-for="RequiredToSignin" type="checkbox" checked />
                    <div class="ml-3">
                        All devices will be required to sign in with
                        new password
                    </div>
                </label>
            </div>
                    
                    <div class="text-right">
                        <input type="button" class="btn text-success bg-white mr-2"
                               style="border-color:lightgrey; width: 80px; "
                               data-dismiss="modal" data-target="#modalone" value="Cancel" />
                        <input type="button" data-save="modal" class="btn text-light mr-2"
                               style="border-color:lightgrey; width: 80px; background-color:#14a800 ;"
                               value="Save" />
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>