@model EditOverviewViewModel
    <div class="modal" id="editOverview">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header P-2">
                    <h4 class="modal-title">Overview</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form asp-action="EditOverview" asp-controller="Freelancers">
                    <div class="modal-body m-0">
                        <div class="row m-1 p-0">

                            <p class="mt-0 mb-3 p-0" style="font-weight: 400;font-size: 15px;">
                                Use this space to show clients you have the skills and experience they're looking for.
                            </p>
                            <ul style="font-weight: 370;font-size: 14px;">
                                <li>
                                    Describe your strengths and skills
                                </li>
                                <li>
                                    Highlight projects, accomplishments and education
                                </li>
                                <li>
                                    Keep it short and make sure it's error-free
                                </li>

                            </ul>
                            <textarea asp-for="Overview" class="form-control p-2 mx-1" id="youDescription" style="height: 200px;">
                            </textarea>
                        </div>
                        <div class="text-right mt-3">
                            <input type="button" class="btn text-success bg-white mr-2 px-3"
                                   style="border-color:lightgrey; width: fit-content;border-radius: 30px; font-weight: 500; " data-dismiss="modal" data-target="#editOverview" value="Cancel" />
                            <input type="button" data-save="modal" class="btn text-light mr-2 px-3" style="border-color:lightgrey; width: fit-content;font-weight: 500; background-color:#14a800 ;border-radius: 30px;" value="Save" />
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>