@model Upwork.Models.Freelancer
@{
    ViewData["Title"] =Model.User.FirstName+ " project catalog";
}
<!--style sheet-->
@section Style {
    <link href="~/css/CreateProject.css" rel="stylesheet" />
}
<!--end style sheet-->

@*<h1>this is profile @Model.ExperienceLevel</h1>*@
<div class="container">
    <div id="Details">
        <div class="wrapper">
            <div class="row">
                <img src="~/images/@Model.Photo" />
                <img src="~/Images/16938730_371690419878868_4123771690068118215_n.jpg" />
            </div>
        </div>
    </div>
</div>
