@{
    ViewData["Title"] = "All Job Posts";
    Layout = "_ClientLayout";
}

<div class="text-center">
    <div class="container my-3">
        <div class="row" style="display:-webkit-box; -webkit-box-align:center;">
            <div class="col-5 " style="display:-webkit-box; -webkit-box-align:center;">
                <div class="container m-0 p-0">
                    <div class="row  text-left">

                        <a href="#" class="mx-2">My jobs </a>
                        <p style="display: inline-block;"> / Job postings</p>

                    </div>
                </div>
            </div>

            <div class="col-7 text-right">
                <div class="col-7 text-center text-light px-3 py-2 devBtnGreen"
                     style="display: inline-block; width: auto; height:auto;">
                    <h6 class="m-0 p-0"> Post a New Job </h6>
                </div>

            </div>
        </div>
    </div>

    <div class="container mt-2">
        <div class="card mb-4 mt-2">
            <div class="card-header bg-white">
                <div class="row" style="display:-webkit-box; -webkit-box-align:center; margin: 15px; ">
                    <div class="col-7 text-left">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search job postings">
                            <div class="input-group-append">
                                <button class="btn btn-success" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="myDrafts py-3 px-4">
                <div class="row m-0 p-0" style="display:-webkit-box; -webkit-box-align:center; margin: 15px; ">
                    <div class="col-8 text-left ">
                        <a href="" class="braek">
                            UX/UI designer to bring website mockup and prototype to
                            life
                        </a>
                    </div>
                    <div class="col-4">
                        <div class="row m-0">
                            <div class="col-9 text-right">
                                <div class="text-light text-center px-3 py-2 devBtnGreen m-0" style=" width:fit-content ; height: auto; display: inline-block;">
                                    <h6 class="m-0 p-0"> Edit Draft </h6>
                                </div>
                            </div>
                            <div class="col-3 text-right">
                                <div class="m-0 text-right dropdown">
                                    <div class=" circlee-points container-circleeAlljobs " data-toggle="dropdown"
                                         aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-ellipsis-h 2x " style="color:rgb(83, 83, 83) ;"></i>
                                    </div>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Edit Draft</a>
                                        <a class="dropdown-item" href="#">Remove Draft</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row m-0 p-0 mt-3" style="display:-webkit-box; -webkit-box-align:center; margin: 15px; ">
                    <div class="col-5 text-left ml-1 mt-1">
                        <p style="font-size: 15px;">Draft - Saved Jun 8, 2021</p>
                    </div>


                </div>
            </div>
            <div class="myDrafts py-3 px-4">
                <div class="row m-0 p-0" style="display:-webkit-box; -webkit-box-align:center; margin: 15px; ">
                    <div class="col-8 text-left ">
                        <a href="" class="braek">
                            Build responsive WordPress site with booking/payment functionality
                        </a>
                    </div>
                    <div class="col-4">
                        <div class="row m-0">
                            <div class="col-9 text-right">
                                <div class="text-light text-center px-3 py-2 devBtnGreen m-0" style=" width:fit-content ; height: auto; display: inline-block;">
                                    <h6 class="m-0 p-0"> Reuse Draft </h6>
                                </div>
                            </div>
                            <div class="col-3 text-right">
                                <div class="m-0 text-right dropdown">
                                    <div class=" circlee-points container-circleeAlljobs " data-toggle="dropdown"
                                         aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-ellipsis-h 2x " style="color:rgb(83, 83, 83) ;"></i>
                                    </div>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Edit Draft</a>
                                        <a class="dropdown-item" href="#">Remove Draft</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row m-0 p-0 mt-3" style="display:-webkit-box; -webkit-box-align:center; margin: 15px; ">
                    <div class="col-5 text-left ml-1 mt-1">
                        <p style="font-size: 15px;">Closed - Jun 4, 2021</p>
                    </div>
                    <div class="col-2 mr-1">
                        <p class="mb-0" style="color: black; font-size: 16px;">0</p>
                        <p>Proposals</p>
                    </div>
                    <div class="col-2 ">
                        <p class="mb-0 " style="color: black; font-size: 16px;">0</p>
                        <p>Messaged</p>
                    </div>
                    <div class="col-2 ">
                        <p class="mb-0" style="color: black; font-size: 16px;">2</p>
                        <p>Hired</p>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
