@model Upwork.Models.DbModels.Jobs

@{
    ViewData["Title"] = "Steps";
    Layout = "_PostJobStepsLayout";
}
<div>
    @section leftSide{
        <div id="title">
            <div style="padding-top: 85px;">
                <h1 class="mb-3">Let's start with a strong title.</h1>
                <p class="mb-4">This helps your job post stand out to the right candidates. It’s the first thing they’ll see, so make it count!</p>
            </div>
        </div>
    }
    @section TopLeftSide{
        <h1 class="mb-3">Let's start with a strong title.</h1>
    }
    @section RightSide{
        <div id="Jobtitle">
            <h5 class="d-none d-sm-block mb-2">Write a title for your job post</h5>
            <form method="post" asp-action="PostJobTitle" id="TitleForm">
                <div class="w-100">
                    <div class="form-group">
                        <input type="text" class="form-control" id="titleInput" asp-for="Title" name="Title" required>
                        <div class="my-3 d-none">
                            <span style="color: #3c8224;">We’ll match you with candidates that specialize in <b>Web Design</b></span>
                        </div>
                    </div>
                </div>
                <div class="mt-3" id="titleExamples">
                    <label>Example titles</label>
                    <ul style="padding: revert;">
                        <li class="m-0" style="list-style-type:disc">
                            <p class="m-md-0">Build responsive WordPress site with booking/payment functionality</p>
                        </li>
                        <li class="m-0" style="list-style-type:disc">
                            <p class="m-md-0">Graphic designer needed to design ad creative for multiple campaigns</p>
                        </li>
                        <li class="m-0" style="list-style-type:disc">
                            <p class="m-md-0">Facebook ad specialist needed for product launch</p>
                        </li>
                    </ul>
                </div>
                <div id="catogery" class="d-none">
                    <label>Job category</label>
                    <div>
                        <h6>Category</h6>
                        <div class="container-fluid align-content-center border-dark">
                            <div class="row pb-3">
                                <select onchange="getSubCategories(this.value,@Model.subCategoryId)" class="form-control" asp-items="ViewBag.Category" required id="categoryselction"><option value="">-</option></select>
                                @*<select class="custom-select" aria-label="Default select example">
                                        <option selected>Web,Mobile & Software Dev</option>
                                        <option value="1">Customer Services</option>
                                        <option value="2">Admin Support</option>
                                        <option value="3">Design & Creative</option>
                                    </select>*@
                            </div>
                            <h6>Specialty</h6>
                            <div class="row form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-outline">
                                <select class="form-control" aria-label="Default select example" id="subCategory" required asp-for="subCategoryId" name="subCategoryId">
                                    @*<option selected>Web Design</option>
                                        <option value="1">UX/UI Design</option>
                                        <option value="2">Prototyping</option>
                                        <option value="3">User Research</option>*@
                                </select>
                            </div>
                        </div>
                    </div>

                </div>
            </form>

        </div>
    }
</div>
@section Scripts2 {
    <script>
        $("#prorBar").children()[0].setAttribute("aria-valuenow", "25");
        $("#prorBar").children()[0].classList.add("w-25");
        $("#progressTitle").css("color", " #95df00");
        $("#NextStep").text("Next:Skills");
        $("#PrevStep").attr("href", "/Client/PostJob");
        if ($('#titleInput').val().length > 0) {
            $("#titleExamples").addClass('d-none');
            $("#catogery").removeClass('d-none');

            $("#continue").children()[0].classList.add('continueBtnEnable');
            $("#continue").children()[0].classList.remove('continueBtn');
        } else {
            $("#catogery").addClass('d-none');
            $("#titleExamples").removeClass('d-none');

            $("#continue").children()[0].classList.add('continueBtn');
            $("#continue").children()[0].classList.remove('continueBtnEnable');
        }
        $('#titleInput').keyup(function () {
            if ($(this).val().length > 0) {
                $("#titleExamples").addClass('d-none');
                $("#catogery").removeClass('d-none');

                $("#continue").children()[0].classList.add('continueBtnEnable');
                $("#continue").children()[0].classList.remove('continueBtn');
            } else {
                $("#catogery").addClass('d-none');
                $("#titleExamples").removeClass('d-none');

                $("#continue").children()[0].classList.add('continueBtn');
                $("#continue").children()[0].classList.remove('continueBtnEnable');
            }
        })
        var selectedCategory = $("#categoryselction").children("option:selected").val();
        if (selectedCategory != null) {
            //console.log(selectedCategory);
            getSubCategories(selectedCategory,@Model.subCategoryId);
        }
        $("#continue").on('click','#NextStep',function () {
            $("#TitleForm").append("<button type='submit' id='go' class='d-none'></button>");
            $("#go").click();
        })

        function getSubCategories(event,sub) {
            console.log(event);
            $.ajax({
                url: "https://localhost:44367/client/GetSubCategories/" + event + "",
                type: "Get",
                success: (res) => {
                    $("#subCategory").html("");
                    var obt = "<option value='0'>SubCategory</option>";
                    for (var x = 0; x < res.length; x++) {
                        if (res[x].subCategoryId == sub) {
                            obt += "<option value='" + res[x].subCategoryId + "' selected>" + res[x].name + "</option>"
                        }
                        obt += "<option value='" + res[x].subCategoryId + "'>" + res[x].name + "</option>"
                    }
                    $("#subCategory").html(obt).show();
                },
                error: (e) => {
                    console.log(e);
                }
            })
        }
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

