@{
    ViewData["Title"] = "Steps";
    Layout = "_PostJobStepsLayout";
}
<div>
    @section leftSide{
        <div id="Scope">
            <div style="padding-top: 85px;">
                <h1 class="mb-3">Next, estimate the scope of your work.</h1>
                <p class="mb-4">These aren’t final answers, but this information helps us recommend the right talent for what you need.</p>
            </div>
        </div>
    }
    @section RightSide{
        <div>
            <div class="row m-0">
                <div class="col-12 py-2 px-0" id="JobScope">
                    <form method="post" action="send.php" id="scopeForm">
                        <div class="radio-group">
                            <div class="row m-0">
                                <div class="col-12 radioBox px-0">
                                    <label for="onejob">
                                        <div class="radioBody">
                                            <div class="text-left py-2">
                                                <input type="radio" id="onejob" name="job-level" />
                                                <span class="checkround my-2"></span>
                                                <h5 class="ml-4">Large</h5>
                                                <small class="text-muted ml-4">Longer term or complex initiatives (ex. design and build a full website)</small>
                                            </div>
                                        </div>
                                    </label>
                                </div>
                                <div class="col-12 radioBox px-0">
                                    <label for="twojob">
                                        <div class="radioBody">
                                            <div class="text-left py-2">
                                                <input type="radio" id="twojob" name="job-level" />
                                                <span class="checkround my-2"></span>
                                                <h5 class="ml-4">Medium</h5>
                                                <small class="text-muted ml-4">Well-defined projects (ex. a landing page)</small>
                                            </div>
                                        </div>
                                    </label>
                                </div>
                                <div class="col-12 radioBox px-0">
                                    <label for="threejob">
                                        <div class="radioBody">
                                            <div class="text-left py-2">
                                                <input type="radio" id="threejob" name="job-level" />
                                                <span class="checkround my-2"></span>
                                                <h5 class="ml-4">Small</h5>
                                                <small class="text-muted ml-4">Quick and straightforward tasks (ex. update text and images on a webpage)</small>
                                            </div>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row m-0 d-none" id="scopeDetails">
                        <div class="col-10 p-0">
                            <h5 class="mb-1">Large</h5>
                            <span class="m-0 text-muted" style="font-size: 12px;">Longer term or complex initiatives (ex. design and build a full website)</span>
                        </div>
                        <div class="col-2 p-0 text-right">
                            <div class="editScope" id="editScopeIcon">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 py-2 px-0 d-none" id="jobTimeContainer" style="border-top: 1px solid #d1d1d1;">
                    <div class="d-none" id="timeJobContaine">
                            <h4 class="m-0"> How long will your work take?</h4>
                        <form method="post" action="send.php" id="jobTimeForm">
                            <div class="radio-group">
                                <div class="row m-0">
                                    <div class="col-12 radioBox px-0">
                                        <label for="twoOne">
                                            <div class="radioBody">
                                                <div class="text-left py-2">
                                                    <input type="radio" id="twoOne" name="time" />
                                                    <span class="checkround my-2"></span>
                                                    <h5 class="ml-4">More than 6 months</h5>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="col-12 radioBox px-0">
                                        <label for="twoTwo">
                                            <div class="radioBody">
                                                <div class="text-left py-2">
                                                    <input type="radio" id="twoTwo" name="time" />
                                                    <span class="checkround my-2"></span>
                                                    <h5 class="ml-4">3 to 6 months</h5>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="col-12 radioBox px-0">
                                        <label for="twoThree">
                                            <div class="radioBody">
                                                <div class="text-left py-2">
                                                    <input type="radio" id="twoThree" name="time" />
                                                    <span class="checkround my-2"></span>
                                                    <h5 class="ml-4">1 to 3 months</h5>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="row m-0 d-none" id="jobTimeDetails">
                        <div class="col-10 p-0">
                            <h5 class="mb-1">More than 6 months</h5>
                        </div>
                        <div class="col-2 p-0 text-right">
                            <div class="editScope">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 py-2 px-0 d-none" id="jobExperianceContainer" style="border-top: 1px solid #d1d1d1;">
                    <div>
                            <h4 class="m-0">What level of experience will it need?</h4>
                        <p class="text-muted mb-2">This won't restrict any proposals, but helps match expertise to your budget.</p>
                        <form method="post" action="send.php" id="jobExperianceForm">
                            <div class="radio-group">
                                <div class="row m-0">
                                    <div class="col-12 radioBox px-0">
                                        <label for="threeOne">
                                            <div class="radioBody">
                                                <div class="text-left py-2">
                                                    <input type="radio" id="threeOne" name="level-of-experience" />
                                                    <span class="checkround my-2"></span>
                                                    <h5 class="ml-4">Entry</h5>
                                                    <small class="text-muted ml-4">Looking for someone relatively new to this field</small>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="col-12 radioBox px-0">
                                        <label for="threeTwo">
                                            <div class="radioBody">
                                                <div class="text-left py-2">
                                                    <input type="radio" id="threeTwo" name="level-of-experience" />
                                                    <span class="checkround my-2"></span>
                                                    <h5 class="ml-4">Intermediate</h5>
                                                    <small class="text-muted ml-4">Looking for substantial experience in this field</small>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="col-12 radioBox px-0">
                                        <label for="threeThree">
                                            <div class="radioBody">
                                                <div class="text-left py-2">
                                                    <input type="radio" id="threeThree" name="level-of-experience" />
                                                    <span class="checkround my-2"></span>
                                                    <h5 class="ml-4">Expert</h5>
                                                    <small class="text-muted ml-4">Looking for comprehensive and deep expertise in this field</small>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="row m-0 d-none" id="jobExperianceDetails">
                        <div class="col-10 p-0">
                            <h5 class="mb-1">Entry level</h5>
                        </div>
                        <div class="col-2 p-0 text-right">
                            <div class="editScope">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

