@{
    ViewData["Title"] = "All Job Posts";
    Layout = "_ClientLayout";
}
@section Style{
    <link href="" rel="stylesheet" />
}


<div class="text-center">
    <div class="container">


        <div class="row m-0 p-0">
            <div class="col-12 my-5">
                <div class="row m-0 p-0">
                    <div class="col-4">
                        <p class="h3" style="color: #1d4354; font:  bold 28px Rza;">
                            Project Catalog
                        </p>
                    </div>
                    <div class="col-1">

                    </div>
                    <div class="col-7 mt-5 text-right ">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search By Project's Category">
                            <div class="input-group-append">
                                <button class="btn btn-success" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row m-0 p-0">
                    <div class="col-lg-3 col-md-6 mt-4 pt-2 mx-0 px-1">
                        <div class="blog-post rounded border mx-0 px-0">
                            <div class="blog-img d-block overflow-hidden position-relative h-60">
                                <img src="advertising2.png" height="150px" class="img-fluid rounded-top" alt="">
                                <div class="overlay rounded-top bg-dark"></div>
                                <div class="post-meta">
                                    <a href="#" class="text-light d-block text-right like">
                                        <div class="circlee-like">
                                            <i class="fa fa-heart-o 2x" style="color:rgb(83, 83, 83) ;">
                                            </i>
                                        </div>
                                    </a>

                                </div>
                            </div>
                            <div class="content p-3">
                                <h4 class="mt-1"><a href="#" class="text-success title">Quick guide on business with friends.</a></h4>
                                <small class="text-muted p float-right">19th Oct, 19</small>
                                <small><p class="text-dark" style="font-weight: 500; font-size: 14px;">Marketing</p></small>


                                <div class="pt-2 mt-2 border-top d-flex">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="img-fluid avatar avatar-ex-sm rounded-pill mr-3 shadow" alt="">
                                    <div class="author mt-2">
                                        <h6 class="mb-0"><a href="#" class="text-dark name">Lisa Marvel</a></h6>
                                    </div>
                                </div>
                            </div>
                        </div><!--end blog post-->
                    </div><!--end col-->

                    <div class="col-lg-3 col-md-6 mt-4 pt-2 mx-0 px-1">
                        <div class="blog-post rounded border mx-0 px-0">
                            <div class="blog-img d-block overflow-hidden position-relative h-60">
                                <img src="advertising2.png" height="150px" class="img-fluid rounded-top" alt="">
                                <div class="overlay rounded-top bg-dark"></div>
                                <div class="post-meta">
                                    <a href="#" class="text-light d-block text-right like">
                                        <div class="circlee-like">
                                            <i class="fa fa-heart-o 2x" style="color:rgb(83, 83, 83) ;">
                                            </i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="content p-3">
                                <h4 class="mt-1"><a href="#" class="text-success title">Become more money-minded</a></h4>
                                <small class="text-muted p float-right">19th Oct, 19</small>
                                <small><p class="text-dark" style="font-weight: 500; font-size: 14px;">Event</p></small>


                                <div class="pt-2 mt-2 border-top d-flex">
                                    <img src="Wafaa1.jpg" class="img-fluid avatar avatar-ex-sm rounded-pill mr-3 shadow" alt="">
                                    <div class="author mt-2">
                                        <h6 class="mb-0"><a href="#" class="text-dark name">Wafaa Wadea</a></h6>
                                    </div>
                                </div>
                            </div>
                        </div><!--end blog post-->
                    </div><!--end col-->

                    <div class="col-lg-3 col-md-6 mt-4 pt-2 mx-0 px-1">
                        <div class="blog-post rounded border mx-0 px-0">
                            <div class="blog-img d-block overflow-hidden position-relative h-60">
                                <img src="advertising2.png" height="150px" class="img-fluid rounded-top" alt="">
                                <div class="overlay rounded-top bg-dark"></div>
                                <div class="post-meta">
                                    <a href="#" class="text-light d-block text-right like">
                                        <div class="circlee-like">
                                            <i class="fa fa-heart-o 2x" style="color:rgb(83, 83, 83) ;">
                                            </i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="content p-3">
                                <h4 class="mt-1"><a href="#" class="text-success title">Quick guide on business with friends.</a></h4>

                                <small class="text-muted p float-right">19th Oct, 19</small>
                                <small><p class="text-dark" style="font-weight: 500; font-size: 14px;">Software</p></small>

                                <div class="pt-2 mt-2 border-top d-flex">
                                    <img src="noura1.jpg" class="img-fluid avatar avatar-ex-sm rounded-pill mr-3 shadow" alt="">
                                    <div class="author mt-2">
                                        <h6 class="mb-0"><a href="#" class="text-dark name">Noura Osama</a></h6>
                                    </div>
                                </div>
                            </div>
                        </div><!--end blog post-->
                    </div><!--end col-->

                    <div class="col-lg-3 col-md-6 mt-4 pt-2 mx-0 px-1">
                        <div class="blog-post rounded border mx-0 px-0">
                            <div class="blog-img d-block overflow-hidden position-relative h-60">
                                <img src="advertising.jpg" height="150px" class="img-fluid rounded-top" alt="">
                                <div class="overlay rounded-top bg-dark"></div>
                                <div class="post-meta">
                                    <a href="#" class="text-light d-block text-right like">
                                        <div class="circlee-like">
                                            <i class="fa fa-heart-o 2x" style="color:rgb(83, 83, 83) ;">
                                            </i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="content p-3">
                                <h4 class="mt-1"><a href="#" class="text-success title">Become more money-minded</a></h4>

                                <small class="text-muted p float-right">19th Oct, 19</small>
                                <small><p class="text-dark" style="font-weight: 500; font-size: 14px;">Event</p></small>

                                <div class="pt-2 mt-2 border-top d-flex">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar6.png" class="img-fluid avatar avatar-ex-sm rounded-pill mr-3 shadow" alt="">
                                    <div class="author mt-2">
                                        <h6 class="mb-0"><a href="#" class="text-dark name">Wafaa Wadea</a></h6>
                                    </div>
                                </div>
                            </div>
                        </div><!--end blog post-->
                    </div><!--end col-->

                    <div class="col-lg-3 col-md-6 mt-4 pt-2">
                        <div class="blog-post rounded border">
                            <div class="blog-img d-block overflow-hidden position-relative h-60">
                                <img src="advertising3.jpg" height="150px" class="img-fluid rounded-top" alt="">
                                <div class="overlay rounded-top bg-dark"></div>
                                <div class="post-meta">
                                    <a href="#" class="text-light d-block text-right like">
                                        <div class="circlee-like">
                                            <i class="fa fa-heart-o 2x" style="color:rgb(83, 83, 83) ;">
                                            </i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="content p-3">
                                <h4 class="mt-1"><a href="#" class="text-success title">Become more money-minded</a></h4>

                                <small class="text-muted p float-right">19th Oct, 19</small>
                                <small><p class="text-dark" style="font-weight: 500; font-size: 14px;">Event</p></small>

                                <div class="pt-2 mt-2 border-top d-flex">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar6.png" class="img-fluid avatar avatar-ex-sm rounded-pill mr-3 shadow" alt="">
                                    <div class="author mt-2">
                                        <h6 class="mb-0"><a href="#" class="text-dark name">Wafaa Wadea</a></h6>
                                    </div>
                                </div>
                            </div>
                        </div><!--end blog post-->
                    </div><!--end col-->

                    <div class="col-lg-3 col-md-6 mt-4 pt-2">
                        <div class="blog-post rounded border">
                            <div class="blog-img d-block overflow-hidden position-relative h-60">
                                <img src="advertising.jpg" height="150px" class="img-fluid rounded-top" alt="">
                                <div class="overlay rounded-top bg-dark"></div>
                                <div class="post-meta">
                                    <a href="#" class="text-light d-block text-right like">
                                        <div class="circlee-like">
                                            <i class="fa fa-heart-o 2x" style="color:rgb(83, 83, 83) ;">
                                            </i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="content p-3">
                                <h4 class="mt-1"><a href="#" class="text-success title">Quick guide on business with friends.</a></h4>

                                <small class="text-muted p float-right">19th Oct, 19</small>
                                <small><p class="text-dark" style="font-weight: 500; font-size: 14px;">Software</p></small>

                                <div class="pt-2 mt-2 border-top d-flex">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-fluid avatar avatar-ex-sm rounded-pill mr-3 shadow" alt="">
                                    <div class="author mt-2">
                                        <h6 class="mb-0"><a href="#" class="text-dark name">Noura Osama</a></h6>
                                    </div>
                                </div>
                            </div>
                        </div><!--end blog post-->
                    </div><!--end col-->
                </div>
            </div>


        </div><!--end row-->
    </div>
</div>
