
@{
    ViewData["Title"] = "Chat";
   
}


<div class="row my-2 mx-4 p-1 border" style="border-radius: 5px;">
    <div class="col-3 border-right m-0 p-0">
        <div class="mt-5 border mx-2" style="background-color: #f2f2f2; border-radius: 7px;">
            <p class="mt-3 ml-3 mb-5" style="font-size: 15px;">
                No rooms were found.
            </p>
            <p class="mt-5 ml-3 mb-3" style="font-size: 15px;">
                You can also <a href="" style="color: #14a800;">
                    View all rooms & people.
                </a>
            </p>
        </div>
    </div>
    <div class="col-9 m-0 p-0">
        <div class="container text-center">
            <div class="mx-auto mt-3">
                <img src="~/Images/envlop.png">
                <p class="mb-0 mt-4" style="color: #656565;font-size: 15px;font-weight: 450;">
                    Once you connect with a client, your messages will be displayed here.
                </p>
                <p class="mt-0" style="color: #656565;font-size: 15px;font-weight: 450;">
                    To get started,<a href="" style="color: #14a800;"> search for jobs </a>and submit job proposals.
                </p>
                <p class="mt-4" style="color: #656565;font-size: 19px;font-weight: 550;">
                    Use Upwork Messages to stay connected:
                </p>
                <div class="row">
                    <div class="col-4 mt-3 text-center">
                        <img src="~/Images/msg.png" />
                        <p class="mt-3 mb-1" style="color: #656565;font-size: 18px;font-weight: 550;">
                            Real-Time Chat
                        </p>
                        <p style="color: #656565;font-size: 16px;font-weight: 400;">
                            Sync on tasks instantly
                        </p>
                    </div>
                    <div class="col-4 my-3 text-center">
                        <img src="~/Images/contact.png" />
                        <p class="mt-3 mb-0 pb-0" style="color: #656565;font-size: 18px;font-weight: 550;">
                            Organized
                        </p>
                        <p class="mt-0 mb-1 pt-0" style="color: #656565;font-size: 18px;font-weight: 550;">Conversations</p>
                        <p style="color: #656565;font-size: 16px;font-weight: 400;">
                            Messages arranged by project
                        </p>
                    </div>
                    <div class="col-4 mt-3 text-center">
                        <img src="~/Images/user2.png" />
                        <p class="mt-3 mb-1" style="color: #656565;font-size: 18px;font-weight: 550;">
                            Online Status
                        </p>
                        <p style="color: #656565;font-size: 16px;font-weight: 400;">
                            See my client’s availability
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>