@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/font-awesome/css/solid.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/fontawesome.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/v4-shims.css" rel="stylesheet" />
    <title>Upwork</title>
    <style>

        .signup {
            background-color: #14a800;
            color: white;
            font-weight: 500;
            border-radius: 30px;
        }

            .signup:hover {
                background-color: rgb(2, 128, 2);
                color: white;
                font-weight: 500;
            }

        .lightDiv {
            background-color: white;
            color: #14a800;
            font-weight: 500;
            border-radius: 30px;
            border: 1px solid #14a800;
        }

            .lightDiv:hover {
                background-color: rgb(230, 223, 223);
                color: rgb(3, 116, 3);
                font-weight: 500;
            }

        .findTalent {
            background-image: url(https://www.upwork.com/static/assets/Brontes/083b9ca/img/find-talent.bf9ad20.jpg);
            border-radius: 10px;
            background-position: absluote;
        }

        .clientOptions {
            background-color: #14a800;
            border-radius: 10px;
            padding: 10px;
            padding-left: 20px;
            color: white;
        }

            .clientOptions:hover {
                color: #14a800;
                border-radius: 10px;
                background-color: white;
                cursor: pointer;
            }

        .firstSkill {
            color: #14a800;
        }

            .firstSkill:hover {
                color: #2f7725;
                text-decoration: none;
            }

        .otherSkills {
            color: #d5e0d5;
        }

            .otherSkills:hover {
                color: #2f7725;
                text-decoration: none;
            }

        .Freelancer-skills {
            border: 1px solid #65735b;
            cursor: pointer;
            font-size: 14px;
            background-color: white;
            border-radius: 16px;
            width: fit-content;
            height: fit-content;
            padding: 40px 8px;
            color: #65735b;
            display: inline-block;
            font-weight: 500;
        }

            .Freelancer-skills:hover {
                background-color: rgb(238, 236, 236);
            }

        .border-top {
            color: white;
        }

        .findOpportunities {
            background-color: white;
            color: #1f57c3;
            border-radius: 30px;
        }

        .findOpportunities {
            background-color: rgb(238, 236, 236);
        }

        footer {
            padding: 0;
            margin: 0;
            list-style: none;
            box-sizing: border-box;
            background-color: #001e00;
            color: white;
        }

            footer a {
                text-decoration: none;
            }

                footer a:hover {
                    text-decoration: none;
                }

                footer a:hover {
                    color: white;
                    border-bottom: 1px white solid;
                }

            footer p {
                margin-bottom: 0rem;
            }

        .up-footer-items a {
            color: #656565;
        }

            .up-footer-items a:hover {
                color: #656565;
            }

        footer i {
            color: white;
            border-radius: 50%;
            border: 1px solid white;
            background-color: #001e00;
            padding: 0.4rem;
            margin: .4rem;
        }
        /******* end footer*********/

        .form-control:focus {
            color: #495057;
            background-color: #fff;
            border-color: #3ce026d8;
            outline: 0;
            box-shadow: 0 0 0 0.1rem #81e774;
        }

        #up {
            color: #14a800;
            font-size: 40px;
            font-family: 'Brush Script MT', cursive;
        }

        #work {
            color: #14a800;
            font-size: 30px;
            font-family: Georgia, serif;
        }
    </style>

</head>

<body>

    <nav class="row navbar navbar-expand-sm sticky-top navbar-white bg-white m-0 p-0">
        <div class="row w-100 border-top border-bottom mx-0 mt-0 mb-0 px-5 py-2">
            <div class="col-5 ml-3 my-auto mt-2">
                <h3 class="navbar-brand m-0">
                    <span id="up">Up<span id="work">work</span></span>
                </h3>
            </div>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbar1">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="col-6 my-auto text-right py-auto">
                @if (SignInManager.IsSignedIn(User))
                {
                    <a class="my-auto py-auto" style="color: rgb(97, 97, 97);font-weight: 500;" asp-action="Logout" asp-controller="Account">
                        Logout
                    </a>
                }
                else
                {
                    <a class="my-auto py-auto" style="color: rgb(97, 97, 97);font-weight: 500;" asp-action="Login" asp-controller="Account">
                        Log In
                    </a>
                }

                <a class="btn my-auto p-2 ml-4 px-4 signup" href="/account/signup">
                    Sign Up
                </a>

            </div>

        </div>
    </nav>
    <div class="container">
        <div class="row m-0 p-0">
            <div class="col-7 mt-4 m-0 p-0">
                <h3 class="mx-1 p-0 mb-2" style="color: #14A800; font:  bold 75px Rza;">
                    Join the world's
                    work marketplace
                </h3>
                <p class="mx-1 p-0 mb-0" style="color: #65735b; font-size:24px ;font-weight: 500;">
                    Find great talent. Build your business.
                </p>
                <p class="mx-1 p-0 mt-0" style="color: #65735b; font-size:24px ;font-weight: 500;">
                    Take your career to the next level.
                </p>
                <div class="mt-4 p-0 mx-1 mb-5">
                    <a class="btn my-auto p-2 px-4 signup" href="/account/signup">
                        Find Talent
                    </a>
                    <a class="btn my-auto p-2 px-4 lightDiv ml-3" href="/account/signup">
                        Find Work
                    </a>
                </div>
                <p class="mx-1 p-0 mt-5 mb-1" style="color: #9aaa97; font-size: 16px;font-weight: 500;">
                    Trusted by
                </p>
                <div class="row ml-1 p-0 mt-1">
                    <div class="col-3 m-0 p-0 py-auto pt-1">
                        <img src="~/Images/microsoft.png" class="w-80" style="float: left;">
                    </div>
                    <div class="col-3 m-0 p-0 py-auto pt-2 pr-1">
                        <img src="~/Images/airbnb.png" class="w-80" style="float: left;">
                    </div>
                    <div class="col-3 m-0 p-0 pt-0">
                        <img src="~/Images/bissell.png" class="w-80" style="float: left;">
                    </div>
                    <div class="col-3 m-0 p-0 py-0 pt-1">
                        <img src="~/Images/godaddy.png" class="w-70" style="float: left;">
                    </div>
                </div>

            </div>
            <div class="col-5 m-0 p-0  mt-4">
                <img src="~/Images/homePhoto1.png" style="border-radius: 50%;">

            </div>
        </div>
        <div class="row mt-5 findTalent">
            <div class="col-12 text-left mt-3 mb-5">
                <p class="ml-3 text-light mb-2" style="font-weight: 600;font-size: 28px;">For clients</p>
            </div>
            <div class="col-5 ml-5">
                <h2 class="mx-1 p-0 mb-2 text-light" style=" font:  bold 75px Rza; font-weight:bolder;">
                    Find talent your way
                </h2>
            </div>
            <div class="col-4">

            </div>
            <div class="col-12 text-light ml-5 mt-3 mb-2">
                <div class="col-5">
                    <p style="font-weight: 500;font-size: 19px;">
                        Work with the largest network of independent professionals and get things done—from quick
                        turnarounds to big transformations.
                    </p>
                </div>
            </div>
            <div class="col-12 my-4">
                <div class="row mx-1">
                    <div class="col-4">
                        <div class="clientOptions">
                            <h2 class="mb-4">
                                Post a job and hire a pro
                            </h2>
                            <p class="mt-3" style="font-weight: 500;font-size: 19px;">
                                Talent Marketplace <i class="fa fa-arrow-right ml-2"></i>
                            </p>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="clientOptions">
                            <h2 class="mb-4">
                                Browse and buy projects
                            </h2>
                            <p class="mt-3" style="font-weight: 500;font-size: 19px;">
                                Project Catalog <i class="fa fa-arrow-right ml-2"></i>
                            </p>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="clientOptions">
                            <h2 class="mb-4">
                                Let us help you find the right talent
                            </h2>
                            <p class="mt-3" style="font-weight: 500;font-size: 19px;">
                                Talent Scout <i class="fa fa-arrow-right ml-2"></i>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="">

            </div>
        </div>
        <div class="container my-5">
            <div class="row m-1 p-0">
                <div class="col-5 mt-3">
                    <h3 class="mx-2 p-0 mb-5" style="color: black; font:  bold 75px Rza;">
                        Hire a pro for any skill
                    </h3>
                    <h2 class="mt-4 ml-2">
                        <a href="" class="firstSkill">Devolpment & IT</a>
                    </h2>
                    <h2 class="ml-2">
                        <a href="" class="otherSkills">Design & Creative</a>
                    </h2>
                    <h2 class="ml-2">
                        <a href="" class="otherSkills">Sales & Marketing</a>
                    </h2>
                    <h2 class="ml-2">
                        <a href="" class="otherSkills">Writing & Translation</a>
                    </h2>
                    <h2 class="ml-2">
                        <a href="" class="otherSkills">Admin & Customer Support</a>
                    </h2>
                    <h2 class="ml-2">
                        <a href="" class="otherSkills">Finance & Accounting</a>
                    </h2>
                    <h2 class="ml-2">
                        <a href="" class="otherSkills">See all specializations</a>
                    </h2>
                </div>
                <div class="col-5 mt-3 ml-1">
                    <div class="mt-3 p-2">
                        <img src="https://www.upwork.com/static/assets/Brontes/083b9ca/img/admin.1476b5c.jpg"
                             style="border-radius: 10px;" />
                    </div>
                    <div class="my-3 ml-1">
                        <div class="Freelancer-skills py-1 px-3 m-1">Customer Service</div>
                        <div class="Freelancer-skills py-1 px-3 m-1 ">Data Entry</div>
                        <div class="Freelancer-skills py-1 px-3 m-1 ">Project Management </div>
                        <div class="Freelancer-skills py-1 px-3 m-1 ">Order Processing</div>
                        <div class="Freelancer-skills py-1 px-3 m-1">Online Research</div>
                        <div class="Freelancer-skills py-1 px-3 m-1 ">Tech Support</div>
                        <div class="Freelancer-skills py-1 px-3 m-1 ">Transcription</div>
                        <div class="Freelancer-skills py-1 px-3 m-1 ">Virtual/Administrative Assistance</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row my-4 p-0" style="border-radius: 10px;">
            <div class="col-6 p-0 m-0" style="background-image: url(https://www.upwork.com/static/assets/Brontes/083b9ca/img/find-great-work.935b155.jpg);border-top-left-radius: 10px;border-bottom-left-radius: 10px;">

            </div>
            <div class="col-6 p-0 m-0" style="background-color: #1f57c3;border-top-right-radius: 10px;border-bottom-right-radius: 10px;">
                <div class="col-12 text-left mt-4 mb-4">
                    <p class="ml-3 text-light mb-2" style="font-weight: 600;font-size: 28px;">For talents</p>
                </div>
                <div class="col-10 ml-2 mt-3">
                    <h2 class="mx-1 p-0 mb-2 text-light" style=" font:  bold 75px Rza; font-weight:bolder;">
                        Find great work
                    </h2>
                </div>
                <div class="col-10 ml-2 my-4">
                    <h5 class="mx-1 p-0 mb-5 text-light">
                        Meet clients you’re excited to work with and take
                        your career or business to new heights.
                    </h5>
                </div>
                <br>

                <div class="col-11 mx-4 mt-4 mb-3 border-top">
                    <div class="row m-0 p-0">
                        <div class="col-4 p-0 m-0 mt-3">
                            <h6 class="p-0 m-0 mb-5 text-light">
                                Find opportunities for every stage of your freelance career
                            </h6>
                        </div>
                        <div class="col-4 p-0 m-0 mt-3">
                            <h6 class="p-0 m-0 ml-5 mb-5 text-light">
                                Control when, where, and how you work
                            </h6>
                        </div>
                        <div class="col-4 p-0 m-0 mt-3">
                            <h6 class="p-0 ml-5 mb-5 text-light">
                                Explore different ways to earn
                            </h6>
                        </div>

                    </div>
                </div>

                <div class="col-11 mb-3 mt-0">
                    <a class="btn my-auto p-2 px-5 ml-4 findOpportunities" href="/account/signup">
                        Find Opportunities
                    </a>
                </div>
            </div>
        </div>


    </div>
    <!--Footer-->
    <footer role="contentinfo" class="up-footer text-center py-3">
        <div role="heading" aria-level="2" class="sr-only">
            Footer navigation
        </div>
        <div class="container">
            <div class="up-footer-items justify-content-between d-flex">
                <div>
                    <ul class="up-footer-list">
                        <li class="up-footer-list-item">
                            <a href="/about/" target="_self" class="up-footer-list-link">
                                About Us
                            </a>
                        </li>
                        <li class="up-footer-list-item">
                            <a href="javascript:" target="_self" data-cy="feedback-link" class="up-footer-list-link">
                                Feedback
                            </a>
                        </li>
                        <li class="up-footer-list-item">
                            <a href="http://community.upwork.com" target="_self" class="up-footer-list-link">
                                Community
                            </a>
                        </li>
                    </ul>
                </div>
                <div>
                    <ul class="up-footer-list">
                        <li class="up-footer-list-item">
                            <a href="/trust-and-safety/security/" target="_self" class="up-footer-list-link">
                                Trust, Safety &amp; Security
                            </a>
                        </li>
                        <li class="up-footer-list-item">
                            <a href="https://support.upwork.com/login" target="_self" class="up-footer-list-link">
                                Help &amp; Support
                            </a>
                        </li>
                        <li class="up-footer-list-item">
                            <a href="/ppc/foundation/" target="_self" class="up-footer-list-link">
                                Upwork Foundation
                            </a>
                        </li>
                    </ul>
                </div>
                <div>
                    <ul class="up-footer-list">
                        <li class="up-footer-list-item">
                            <a href="/legal#terms" target="_self" class="up-footer-list-link">
                                Terms of Service
                            </a>
                        </li>
                        <li class="up-footer-list-item">
                            <a href="/legal#privacy" target="_self" class="up-footer-list-link">
                                Privacy Policy
                            </a>
                        </li>
                        <li class="up-footer-list-item">
                            <a href="/legal#accessibility" target="_self" class="up-footer-list-link">
                                Accessibility
                            </a>
                        </li>
                    </ul>
                </div>
                <div>
                    <ul class="up-footer-list">
                        <li class="up-footer-list-item">
                            <a href="/downloads?source=Footer" target="_self" class="up-footer-list-link">
                                Desktop App
                            </a>
                        </li>
                        <li class="up-footer-list-item">
                            <a href="/legal#cookie-policy" target="_self" class="up-footer-list-link">
                                Cookie Policy
                            </a>
                        </li>
                        <li class="up-footer-list-item">
                            <a href="/enterprise" target="_self" class="up-footer-list-link">
                                Enterprise Solutions
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="up-footer-social justify-content-between d-flex">
                <div class="up-footer-social-icons d-flex" style="display:-webkit-box; -webkit-box-align:center; ">
                    <div role="heading" aria-level="3" class="up-footer-social-header m-auto">
                        Follow us
                    </div>
                    <ul class="up-footer-social-list d-flex m-auto" style="list-style:none">
                        <li class="up-footer-social-list-item">
                            <a href="https://www.facebook.com/upwork" title="Visit Upwork on Facebook" target="_blank" rel="noopener noreferrer" class="up-footer-social-list-link">
                                <span class="sr-only">Visit Upwork on Facebook</span>
                                <div class="up-icon">
                                    <i class="fab fa-facebook-f"></i>
                                </div>
                            </a>
                        </li>
                        <li class="up-footer-social-list-item">
                            <a href="https://www.linkedin.com/company/upwork" title="Read Upwork company news on LinkedIn" target="_blank" rel="noopener noreferrer" class="up-footer-social-list-link">
                                <span class="sr-only">Read Upwork company news on LinkedIn</span>
                                <div class="up-icon">
                                    <i class="fab fa-linkedin-in"></i>
                                </div>
                            </a>
                        </li>
                        <li class="up-footer-social-list-item">
                            <a href="https://twitter.com/Upwork" title="Follow  on Twitter" target="_blank" rel="noopener noreferrer"
                               class="up-footer-social-list-link">
                                <span class="sr-only">Follow Twitter</span>
                                <div class="up-icon">
                                    <i class="fab fa-twitter"></i>
                                </div>
                            </a>
                        </li>
                        <li class="up-footer-social-list-item">
                            <a href="https://www.youtube.com/channel/UCvxGFOnwUBDHHcxuPqhe4CQ" title="Watch Upwork videos on YouTube" target="_blank" rel="noopener noreferrer" class="up-footer-social-list-link">
                                <span class="sr-only">Watch Upwork videos on YouTube</span>
                                <div class="up-icon">
                                    <i class="fab fa-youtube"></i>
                                </div>
                            </a>
                        </li>
                        <li class="up-footer-social-list-item">
                            <a href="https://www.instagram.com/upworkinc/" title="Follow Upwork on Instagram" target="_blank" rel="noopener noreferrer" class="up-footer-social-list-link">
                                <span class="sr-only">Follow Upwork on Instagram</span>
                                <div class="up-icon">
                                    <i class="fab fa-instagram"></i>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="up-footer-social-icons up-footer-download d-flex">
                    <div role="heading" aria-level="3" class="up-footer-social-header m-auto">
                        Mobile app
                    </div>
                    <ul class="up-footer-social-list d-flex m-auto" style="list-style:none">
                        <li class="up-footer-social-list-item">
                            <a href="https://apps.apple.com/us/developer/upwork-global-inc/id329377609" title="Download Upwork app from iTunes" target="_blank" rel="noopener noreferrer" class="up-footer-social-list-link">
                                <span class="sr-only">Download Upwork app from iTunes</span> <div class="up-icon">
                                    <i class="fab fa-apple"></i>
                                </div>
                            </a>
                        </li>
                        <li class="up-footer-social-list-item">
                            <a href="https://play.google.com/store/apps/dev?id=8802639270489632480" title="Download Upwork app from Google Play" target="_blank" rel="noopener noreferrer" class="up-footer-social-list-link">
                                <span class="sr-only">Download Upwork app from Google Play</span>
                                <div class="up-icon">
                                    <i class="fab fa-android"></i>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div> <p class="up-footer-copyright">
                <span>
                    © 2015 - 2021 Upwork® Global Inc.
                </span>
            </p>
        </div>
    </footer>
    <!-- End Footer-->



    <script src="https://kit.fontawesome.com/fa50145e5d.js" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
