@model CategoryViewModel
@{
    ViewData["Title"] = "Category";
    Layout = "~/Views/Shared/_CreateProfileLayout.cshtml";
}

<div class="container" style="margin-top:10px">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4>Category</h4>
                    <p class="text-muted">2 of 12</p>
                </div>
                <form id="CategoryForm" asp-action="Category" asp-controller="Account">
                    <div class="card-body">
                        <h5 class="card-title pb-3">Tell us about the work you do</h5>
                        <h6 class="card-title">What is the main service you offer ?</h6>
                        <div class="container-fluid align-content-center border-dark" style="height:150px">
                            <div class="row form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-outline">
                                <select class="custom-select categoryList" asp-for="CategoryId" asp-items="ViewBag.CategoryId" aria-label="Default select example">
                                    <option value="none" selected disabled hidden>
                                        Select a category
                                    </option>
                                </select>
                                <span class="text-danger CategoryErrorMsg ml-1" asp-validation-for="CategoryId"></span>
                            </div>

                            <div class="row form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-outline mt-4">
                                <select class="custom-select SubCategoryList" asp-for="SubCategoryId" asp-items="ViewBag.SubCategoryId" aria-label="Default select example">
                                    <option selected disabled hidden>
                                        Select a subcategory
                                    </option>
                                </select>
                                <span class="text-danger ml-1 SubCategoryErrorMsg" asp-validation-for="SubCategoryId"></span>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer" style="height:100px">
                        <div class="container-fluid">
                            <div class="row" style="margin-top:17px">
                                <div class="col-2">
                                    <a asp-action="GettingStarted" asp-controller="Account" class="btn text-success bg-white" style="border-color:lightgrey">Back</a>
                                </div>
                                <div class="offset-8 text-right">
                                    <button type="submit" class="btn btn-success" style="border-color:lightgrey;">Next</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
@section Styles{

}

@section Scripts{

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        $(function () {
            $("#CategoryId").change(function () {
                $("#CategoryId option:selected").each(function () {
                    $.ajax({
                        url: 'https://localhost:44367/Account/GetSubCategories/' + $(this).val(),
                        method: 'GET',
                        success: function (Subservices) {
                            $("#SubCategoryId").html("");
                            $("#SubCategoryId").append(" <option value='none' selected disabled hidden>Select a subcategory</option >");
                            for (var i = 0; i < Subservices.length; i++) {
                                $("#SubCategoryId").append("<option value=" + Subservices[i].subCategoryId + ">" + Subservices[i].name + "</option>");
                            }
                  //            alert(JSON.stringify(Subservices));
                        },
                        error: function (error) {
                            alert("error");
                        }
                    })
                })
            })
        })

        $(".categoryList").change(function () {
            $(".CategoryErrorMsg").hide();
        });

        $(".SubCategoryList").change(function () {
            $(".SubCategoryErrorMsg").hide();
        });
    </script>
}
